<div class="content-wrapper">
<div class="col-sm-12 col-md-12 master-cont">
    <h5>Filtered {{ filtered.length }} of {{ totalItems}} total Masters</h5>
    <div class="col-lg-12 col-md-12 col-sm-12 " style=" padding:0px;">
        <div class="lst_master_top clearfix">
            <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix top_table_form" style="padding:0px;">
                <div class="form_box  col-lg-2 col-md-2 col-sm-2 col-xs-12" style=" padding:0px;">
                    <label>Head Name</label>
                    <input type="text" ng-model="search.HeadName" ng-change="filter()" placeholder="Search By Head Name" />
                </div>
                <div class="form_box  col-lg-2 col-md-2 col-sm-2 col-xs-12" style=" padding:0px;">
                    <label>Fancy Type</label>
                    <input type="text" ng-model="search.TypeID" ng-change="filter()" placeholder="Search By usetype" />
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 lst_master">
            <div class="resp_table clearfix ">
                <table class="table table-bordered table-condensed table-responsive" style="background-color:#fff;">
                    <thead>
                        <tr>
                            <th><a ng-click="sort_by('ID');"><i class="glyphicon glyphicon-sort"></i></a>Serial No</th>
                            <th><a ng-click="sort_by('HeadName');"><i class="glyphicon glyphicon-sort"></i></a>Head Name</th>
                            <th><a ng-click="sort_by('TypeID');"><i class="glyphicon glyphicon-sort"></i></a>Fancy Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="fancy in filtered = (fancyList | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <td data-label="Serial No">{{$index + 1}}</td>
                        <td data-label="Head Name">{{fancy.HeadName}}</td>
                        <td data-label="Fancy Date">{{fancy.TypeID}}</td>
                        <td data-label="Action"><a ng-click="delFancy(fancy.ID)" class="del-btn" style="display:inline-block; cursor:pointer;"><i class="glyphicon glyphicon-remove" style="color:#fff;"></i></a></td>
                    </tr>

                </table>
            </div>

            <div class="col-md-12" ng-show="filteredItems == 0">
                <div class="col-md-12">
                    <h4>No Users found</h4>
                </div>
            </div>
            <div class="col-md-12" ng-show="filteredItems > 0">
                <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;">

                </div>


            </div>
        </div>
    </div>
</div>
</div>
