<div class="content-wrapper" style="min-height: 720px;">    
<div class="load-box" ng-show="loading">
                <img id="mySpinner" src="app/images/loading1.gif" />
            </div>
<div class="col-sm-12 padding heading">
    <div class="row">
        <div class="col-sm-12">
            <h1  class="page-heading">Manage Fancy</h1>
        </div>

    </div>
</div>



	<div class="col-sm-12 col-md-12 master-cont mastercontrol">
      <div class="col-sm-12">
        <input type="text" name="MSearch" placeholder="Search Match Name" class="form-control" ng-model="MSearch"/>
      </div>
                    <button type="button" class="ref-stat" ng-click="FancyListDisplay()">
                      <span class="glyphicon glyphicon-retweet"></span>
                    </button>
                
                      <div class="onepagehitdiv  table-responsive login_table">
                        <table class="table onepagehit table-condensed table-striped">
                          <thead>
                            <tr class="bg-primary">
                              <th>Sno</th>
                              <th>MatchName</th>
                              <th>FancyName</th>
                              <th>
                                Status :-

                                <span class="stat-head">
                                  <img src="app/images/active.png"/>Active
                                  <img src="app/images/inactive.png"/>Inactive
                                  <img src="app/images/suspend.png"/>Suspend
                                </span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- {{GetfancyList1}} -->
                            <tr ng-repeat="fancy in GetfancyList | filter : {'matchName': MSearch}">
                              <td data-label="Sno">{{$index+1}}</td>
                              <td data-label="MatchName">{{fancy.matchName}}</td>
                              <td data-label="FancyName">{{fancy.HeadName}}</td>
                              <td data-label="Status" class="status-cont">
                                <input type="radio" name="{{fancy.ID}}" value="1" ng-checked="fancy.active == 1" ng-click="getFancyStatus(fancy.ID,1,fancy.MatchID)"  />
                                <img src="app/images/active.png"/>
                                <input type="radio" name="{{fancy.ID}}" value="0" ng-checked="fancy.active == 0" ng-click="getFancyStatus(fancy.ID,0,fancy.MatchID)" />
                                <img src="app/images/inactive.png"/>
                                <input type="radio" name="{{fancy.ID}}" value="2" ng-checked="fancy.active == 2" ng-click="getFancyStatus(fancy.ID,2,fancy.MatchID)" />
                                <img src="app/images/suspend.png"/>
                                <input type="number" id="result_{{fancy.ID}}" value="{{fancy.result}}" name="result" style="width:90px;color:#fff"  ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.Result==1" /><br>
                                <a href="" class="result-btn" ng-click="AbendendFancy(fancy.SportID,fancy.MatchID,fancy.ID)" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.Result==1">Abandoned</a>

                                <div ng-if="fancy.TypeID==1" class="even_oddpopup" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.EditFancy==1">
                                  <a href="" class="result-btn" ng-click="getFancyUpDown(fancy.SportID,fancy.MatchID,fancy.ID,fancy.TypeID)" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.Result==1">Result</a>
                                  <a href="" class="edit-btn" ng-click="editOddEvenFancy(fancy.ID,fancy.TypeID,fancy.matchName,fancy.SportID,fancy.HeadName);HideFancyDiv();">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                  </a>
                                </div>
                                <span ng-if="fancy.TypeID==2" ui-sref-active="active" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.EditFancy==1">
                                  <a href="" class="result-btn" ng-click="getFancyResult(fancy.SportID,fancy.MatchID,fancy.ID)" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.Result==1">Result</a>
                                   <a href="" class="edit-btn" ui-sref="dashboard.Editfancycntr({FancyID:fancy.ID,TypeID:fancy.TypeID,MatchName:fancy.matchName,SportID:fancy.SportID,MatchID:fancy.MatchID,is_indian_fancy:fancy.is_indian_fancy,fancy_mode:fancy.fancy_mode,MarketId:fancy.market_id,mFancyId:fancy.mFancyId})" ng-click="HideFancyDiv();">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                  </a>
                                </span>
                                <span ng-if="fancy.TypeID==3 || fancy.TypeID==4" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.EditFancy==1">
                                  <a href="" class="result-btn" ng-click="getFancyUpDown(fancy.SportID,fancy.MatchID,fancy.ID,fancy.TypeID)" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.Result==1">Result</a>
                                  <a href="" class="edit-btn" ng-click="editFancy(fancy.ID,fancy.TypeID,fancy.matchName,fancy.SportID,fancy.HeadName)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                  </a>
                                </span>
                                <span ng-if="fancy.TypeID==5" ui-sref-active="active" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.EditFancy==1">
                                  <a href="" class="result-btn" ng-click="getFancyUpDown(fancy.SportID,fancy.MatchID,fancy.ID,fancy.TypeID)" ng-show="$root.HelperAllRights==angular.isUndefinedOrNull || $root.HelperAllRights.Result==1">Result</a>
                                  <a href="" class="edit-btn" ui-sref="dashboard.EditUpdown({FancyID:fancy.ID,TypeID:fancy.TypeID,MatchName:fancy.matchName,SportID:fancy.SportID})" ng-click="HideFancyDiv();">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                  </a>
                                </span>
                              </td>
                            </tr>
                          </tbody>

                        </table>
                      </div>


	</div>
</div>
