
<md-dialog>
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools"><h2>Change Password</h2></div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">


                    <div class="clearfix changePwdPage">
                        <form name="changePasswordForm" method="post" novalidate="" ng-submit="changeUserPasswordSubmit(user)">
                          <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="popup-inp-box col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="password" class="popup-input" id="old_pass" name="oldPassword" ng-model="user.oldPassword" md-autofocus/>
                              <label>Old Password</label>
                            </div>

                            <div class="popup-inp-box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <input type="password" class="popup-input" name="newPassword" ng-model="user.newPassword"/>
                              <label >New Password</label>
                            </div>
                          </div>

                          <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="popup-inp-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <input type="password" class="popup-input" name="cnfnewPassword" ng-model="user.cnfnewPassword" ng-match="user.newPassword"/>
                              <label>Confirm New Password</label>
                              <div class="alert alert-danger fade in" ng-show="validatePass">

                                {{validatePass}}
                              </div>
                            </div>
                          </div>

                          <div class="popup-form-box  col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" style="text-align:center;">
                            <input type="hidden" id="userId" name="userId" value="{{node.id}}" />
                            <!--  <button type="submit" class="btn btn-primary" name="changePassword" value="Change">CHANGE PASSWORD</button> -->
                            <input type="submit" name="changePassword" value="Change" class="btn btn-primary"/>
                          </div>
                        </form>
                    </div>

                    </div>
                </md-dialog-content>
                <!-- <md-dialog-actions layout="row">
                    <md-button ng-click="hide()">
                        Update Chips
                    </md-button>
                </md-dialog-actions> -->
            </form>
</md-dialog>