<md-dialog>
            <!-- <form ng-cloak> -->
                <md-toolbar>
                    <div class="md-toolbar-tools"><h2>Chips Settings</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="hide()">
                          <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
                        </md-button>

                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        
            <div class="row">

                <div class="clearfix popup_form ">
                    <form name="userForm" ng-submit="submitForm_chipSetting()">
                                       
                        <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">    
                                <input type="text" ng-model="Name1" md-autofocus class="popup-input"/>
                                <label>Chips Name :</label>
                            </div>
     
                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6" >
                                <input type="text" ng-model="Name2"  class="popup-input" />
                                <label>Chips Name :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6" >
                                <input type="text" ng-model="Name3"  class="popup-input" />
                                <label>Chips Name :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                <input type="text" ng-model="Name4"  class="popup-input" />
                                <label>Chips Name :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                <input type="text" ng-model="Name5"  class="popup-input" />
                                <label>Chips Name :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                <input type="text" ng-model="Name6"  class="popup-input" />
                                <label>Chips Name :</label>
                            </div>            
                        </div>

                        <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">    
                                <input type="number"  ng-model="Value1" class="popup-input"/>
                                <label>You'r Chips :</label>
                            </div>
     
                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6" >
                                <input type="number"  ng-model="Value2" class="popup-input" />
                                <label>You'r Chips :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6" >
                                <input type="number"  ng-model="Value3" class="popup-input" />
                                <label>You'r Chips :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                <input type="number"  ng-model="Value4" class="popup-input" />
                                <label>You'r Chips :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                <input type="number"  ng-model="Value5" class="popup-input" />
                                <label>You'r Chips :</label>
                            </div>

                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                <input type="number"  ng-model="Value6" class="popup-input" />
                                <label>You'r Chips :</label>
                            </div>            
                        </div>

                       <!--  <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6">    
                                <input type="number"  ng-model="Name7" class="popup-input"/>
                                <label>Chips Name :</label>
                            </div>
     
                            <div class="popup-inp-box col-lg-2 col-md-2 col-sm-6 col-xs-6" >
                                <input type="number"  ng-model="Value7" class="popup-input" />
                                <label>You'r Chips :</label>
                            </div>            
                        </div> -->

                        <div class="popup_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">

                            <div class="" style="text-align:left; margin-top:5px; margin-bottom:5px;">
                              <button type="submit" class="btn btn-primary">Update Setting</button>
                            </div>

                        </div>

                        <!-- <md-button class="btn" ng-click="hide()">
                            Update Chips
                        </md-button> -->
                       
                    </form>
                </div>

            </div>

                    </div>
                </md-dialog-content>
                <!-- <md-dialog-actions layout="row">
                    <md-button ng-click="hide()">
                        Update Chips
                    </md-button>
                </md-dialog-actions> -->
         <!--    </form> -->
        </md-dialog>