<div class="content-wrapper" style="min-height: 720px;">
<div class="load-box" ng-show="loading">
                <img id="mySpinner" src="app/images/loading1.gif" />
            </div>
<h1 class="page-heading">Balance History</h1>
<div class="col-sm-12 col-md-12 master-cont">
    <div class="col-lg-12 col-md-12 col-sm-12 " style="padding: 0px;">
        <div class="lst_master_top clearfix">
            <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix top_table_form" style="padding: 0px;">
                <div class="form_box  col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
                    <p class="input-group datepick-box">
                        <label>Date From</label>
                        <md-content>
                            <md-datepicker ng-model="from_date" md-open-on-focus ng-change="setDateFun(1)" md-min-date="minDate" md-max-date="MaxDate1"></md-datepicker>
                        </md-content>
                    </p>
                </div>
                <div class="form_box  col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding: 0px;">
                    <label>Date To</label>
                    <md-content>
                        <md-datepicker ng-model="to_date" md-open-on-focus ng-change="setDateFun(2)" md-min-date="minDate1"  md-max-date="MaxDate2"></md-datepicker>
                    </md-content>
                </div>
                <div class="form_box  col-lg-2 col-md-2 col-sm-4 col-xs-4" style="padding: 0px;">
                    <label>Type</label>
                    <!-- <select name="slctType" ng-model="slctType" ng-options="typeDropDown.label for typeDropDown in typeDropDown track by typeDropDown.value" >
                      <option value="5" ng-selected="true">ALL</option>
                    </select> -->
                    <select ng-model="slctType" ngrequired>
                        <option value="1" ng-selected="true">Ledger</option>
                        <option value="2">Commission</option>
                        <option value="3">Settlement</option>
                        <option value="4">Credit Limit</option>
                    </select>
                </div>
                <!-- <div class="form_box  col-lg-2 col-md-2 col-sm-4 col-xs-4" style="padding: 0px;">
                    <label>With Parent</label>
                    <md-switch ng-model="withParant" aria-label="Switch 1">{{ withParant }}</md-switch>
                </div> -->
                <div class="form_box  col-lg-2 col-md-2 col-sm-4 col-xs-12" style="padding: 0px;">
                    <label class=”hidden-xs”>&nbsp;</label>
		   <div class="file-icons">
                        <a href="" ng-click="ChipLeger(from_date,to_date,slctType,data.cb1)"><img src="app/images/search.png" /></a>
                        <a ng-click="onBtExport(hstshow)"><img src="app/images/file2.png" /></a>
                        <!--  <a ng-click="onBtExportLeger()" ng-show="legershow"><img src="app/images/file2.png" /></a> -->
                        <!-- <a href=""><img src="app/images/file1.png" /></a>
                        <a href=""><img src="app/images/file3.png" /></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 lst_master">

        <div class="resp_table clearfix ">
            <!-- 	<div id="myGrid" class="ag-blue" style="height: 450px; margin-top: 4px;"></div -->
            <div ag-grid="gridOptions" class="ag-blue" style="height: 400px;margin-top: 4px;" ng-show="hstshow"></div>
            <div ag-grid="gridOptionslgr" class="ag-blue" style="height: 400px;margin-top: 4px;" ng-show="legershow"></div>
            <div class="total-box clearfix">
                <h1 class="total-green">Total Credit : <span ng-class="{'green':SumOfCreadit>0,'red':SumOfCreadit<0}">{{SumOfCreadit| number:2}}</span></h1>
                <h1 class="total-red">Total Debit : <span class="red">{{SumOfDebit | number:2}}</span></h1>
            </div>
        </div>
        
    </div>
</div>
</div>
