
  <div class="col-sm-12 col-md-12 master-cont">
      <h2 style="text-align: center; font-size: 28px; margin-bottom: 15px;">Create Dealer</h2>
      <div class="row">
          <div class="clearfix creat_form">
            <p ng-show="message" style="text-align: center; color:#FE5454; font-size: 18px; margin-bottom: 15px;">{{message}}</p>
               <!--  <span ng-show="message" class="error"></span> -->
              <form name="userForm" ng-submit="submitForm()">

                <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                  <div class="form_box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Dealer Name</label>
                   <input type="text" name="master_name" class="input-box" ng-model="master_name" required="required" >
                </div>
                  <div class="form_box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label >Registration Date</label>
                   <p class="input-group datepick-box">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" datetime-picker="yyyy dd MM " />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default datepick-btn" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                </div>
                        
                <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                  <div class="form_box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>User ID</label>
                     <input type="text" name="username" class="input-box" ng-model="username" ng-change="checkUserName()" >
                     
                     <p ng-show="errorMsg" style="text-align: center; color:GREEN; font-size: 14px; margin-bottom: 15px;">{{errorMsg}}</p>
                  </div>
                  <div class="form_box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label >Password</label>
                    <input type="password" name="password" class="input-box" ng-model="password" >
                  </div>
                </div>
                                     
                <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                
                <div class="form_box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label >Remark</label>
                  <textarea name="remarks" ng-model="remarks"  class="input-box"></textarea>
                </div>
              </div>
                        
              <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                <div class="form_box  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input type="hidden" name="type" value="1" ng-model="type" />
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
                        
              
          </form>
                    
                      
            </div>
      </div>
  </div>




  