<!--sourabh 170118-->
<md-dialog class="confirm-form">
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="clearfix"> 
                <form name="confirmForm" method="post">                    
                    <h1>{{HeaderMessage}}</h1>
                    <button type="button" class="btn btn-primary" id="btnYes" data-ng-click="yesClick()" md-autofocus>Yes</button>
                    <button type="button" class="btn btn-primary" id="btnNo" data-ng-click="noClick()">No</button>
                </form>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
                                                                                                                                                                                                                                                                                                                                                                                                                                       