
<md-dialog>
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools"><h2>Lock User</h2></div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">


                    <div class="clearfix lock_box">
                    <p>{{content}} {{node.name}}?</p>
                    <form name="userLock" method="post">
                        <input type="hidden" name="userId" id="userId" value="{{node.id}}"/>
                        <input type="hidden" name="lockVal" id="lockVal" value="{{lockValue}}"/>
                        <button type="submit" class="btn btn-primary" name="lock_user" ng-click="HideLockUserFrm()">CANCLE</button>
                        <button type="submit" class="btn btn-primary focus" name="lock_user" ng-click="UpdateUserLock(user)" md-autofocus>OK</button>
                    </form>
                    </div>

                    </div>
                </md-dialog-content>
                <!-- <md-dialog-actions layout="row">
                    <md-button ng-click="hide()">
                        Update Chips
                    </md-button>
                </md-dialog-actions> -->
            </form>
</md-dialog>