        <md-dialog>            
                <md-toolbar>
                    <div class="md-toolbar-tools"><h2>Set Default Password</h2><span flex></span>
                        <md-button class="md-icon-button" ng-click="hide()">
                          <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
                        </md-button></div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        
                        <div class="row">

                           
                               <!--  <form name="userForm"  > -->
                                                   
                                    <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                                        <div class="popup-inp-box col-lg-12 col-md-12 col-sm-12 col-xs-12">    
                                            <input type="number" id="setpass" ng-model="setDftPswrd" md-autofocus class="popup-input"/>
                                            <label>Password</label>
                                        </div>
                           
                                    </div>

                                    <div class="popup_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">

                                        <div class="" style="text-align:left; margin-top:5px; margin-bottom:5px;">
                                          <button type="button" ng-click="SetDefaltPaswrd(setDftPswrd)" class="btn btn-primary">Save</button>
                                          <button type="button" class="btn btn-primary" ng-click="hide()">Cancel</button>
                                        </div>

                                    </div>

                                  
                                   
                               <!--  </form> -->
                           

                        </div>

                    </div>
                </md-dialog-content>
        </md-dialog>