<div class="content-wrapper" style="min-height: 720px;">
 <div class="load-box" ng-show="loading">
        <img id="mySpinner" src="app/images/loading1.gif" />
    </div>
<div class="col-sm-12 padding heading">
    <div class="row">
        
            <h1 class="page-heading">Account Statement</h1>
        
        
    </div>
</div>
    

    <div class="mastercontrol" ng-if="UserType==0">
   
   <!-- <select id="page-size" ng-model="PageSize" ng-change="onPageSize()">
        <option value="50" selected>50</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
    </select> -->
<form name="Master" class="whitecls">
        <div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding">
            <label>Master</label>

    <select name="MasterID"  class="form-control" ng-model="formData.MasterID" ng-change="GetDealer(formData.MasterID,1)" ng-options="Master.mstrid as Master.mstrname for Master in MasterList">    
        <option value="">Please Select Master</option>
    </select>
        </div> 

        <div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
            <label>Dealer</label>
            <select name="DealerID" ng-model="formData.DealerId" ng-change="GetDealer(formData.DealerId,2)" class="form-control">
<option value="" >Please Select Dealer</option>  
                <option ng-repeat="Dealer in DealerData" value="{{Dealer.mstrid}}">{{Dealer.mstruserid}}</option>           
            </select>
        </div>
        <div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
            <label>User</label>
            <select name="UserId" ng-model="formData.UserId" ng-change="GetDealer(formData.UserId,3)" class="form-control">
<option value="">Please Select User</option>  
                <option ng-repeat="User in userData" value="{{User.mstrid}}">{{User.mstruserid}}</option>           
            </select>
        </div>
        <div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding">
           <button type="button" class="btn btn-primary" ng-click="GetSearch();" style="margin-top:18px;">Submit</button>
           
              <div class="file-icons">
            <a ng-click="onBtExport()"><img src="app/images/file2.png" /></a>
            <button type="button" class="btn btn-primary btn-sm" ng-click="Reset();">Reset</button>
        </div>
        </div> 
        
        
     
          
    </form> 
    </div>



	<div class="col-sm-12 col-md-12">
               <!--  {{BetHistory}} -->
            
            <div class="lst_master">
                <div class="resp_table clearfix ">
                    <div id="myGrid" class="ag-blue" style="height: 420px; margin-top: 0;"></div>
                        <div class="total-box clearfix">
                        <h1 class="total-green">Total P&L: <span ng-class="{'green':SumOfP_L>0,'red':SumOfP_L<0}">{{SumOfP_L | number:2}}</span></h1>
                        <h1 class="total-green">Total Profit: <span ng-class="{'green':SumOfProfit>0,'red':SumOfProfit<0}">{{SumOfProfit | number:2}}</span></h1>
                        <h1 class="total-red">Total Liability: <span ng-class="{'green':SumOfLiability>0,'red':SumOfLiability<0}">{{SumOfLiability | number:2}}</span></h1>
                    </div>
                </div>
<div>

</div>
            </div>
 
    </div>
</div>
