       
        <div class="col-sm-8 col-md-8 col-md-12 clearfix"> 
          <div class="clearfix ">
            	  <div class="box-heading"> Wolves v Cambridge Utd
						<p class="head_min">Tue 23 Aug, 07:45 PM</p> 
                  </div>
                 
                 <div class="fancy_wrapper clearfix ">
                 		<h3 style="margin-top:10px; font-weight:bold;">1ST INN 20 OVR ODD EVEN</h3> 
                  		<div class="fancy_top clearfix "> <a href="" class="cell lay-cell" style="background-color: #333333;border-radius: 2px;">
                        		Rules</a>
                  			<span>Risk :  00</span>	
                  		</div>
                  		<p>OddEven Means Score Last Digit, If it is ODD then ODD Win else EVEN, 0 is Even, 1 is Odd. Place bet and win. Market suspended before 4 over. Bets will be cancelled if there are bets after given suspend time. Good Luck.</p>
                  		<div class="down_up clearfix "> 
                        	<ul>
                            	<li>DOWN</li>
                                <li>UP</li>
                              <!--  <li><a class="cell back-cell" href="">-</a></li>
                                <li><a href="" class="cell lay-cell">-</a></li>
                                <li class="inactive">INACTIVE </li> -->
                            </ul>
                  		</div>
                        
                        <div class="even_odd clearfix">
			<button class="even_odd_but" style="float:left;">Odd </button>
			<button class="even_odd_but" style="float:right;">Even</button>

		 		<div class="even_odd_box clearfix">
						<!--Box 1 Start-->
						<div class="even_box clearfix"> 
								<div class="even_top clearfix"> 
            							<div class="even_top_left clearfix"> 
                                        		<span>Bet On 1 </span>
                                                <input type="number" name="quantity" min="0" max="100" value="0">
                                        </div>
                    					<div class="even_top_right clearfix"> 
                                        		<a href="" class="eve_but">PLACE </a>
                                                <a href=""class="odd_but">CANCEL </a>
                                                <a href="" class="eve_but">CLEAR </a>
                                        </div>
            					</div>
                                
                                <div class="even_bot clearfix"> 
                                		<a href="" class="eve_but">50 </a>
                                        <a href=""class="eve_but">100 </a>
                                        <a href="" class="eve_but">250 </a>
                                        <a href="" class="eve_but">500 </a>
                                        <a href=""class="eve_but">1000 </a>
                                        <a href="" class="eve_but">5000 </a>
                                </div>
						</div>
                        <!--Box 1 End-->
                        
   						<!--Box 2 Start-->
						<div class="even_box clearfix"> 
								<div class="even_top clearfix"> 
            							<div class="even_top_left clearfix"> 
                                        		<span>Bet On 2</span>
                                                <input type="number" name="quantity" min="0" max="100" value="0">
                                        </div>
                    					<div class="even_top_right clearfix"> 
                                        		<a href="" class="eve_but">PLACE </a>
                                                <a href=""class="odd_but">CANCEL </a>
                                                <a href="" class="eve_but">CLEAR </a>
                                        </div>
            					</div>
                                
                                <div class="even_bot clearfix"> 
                                		<a href="" class="eve_but">50 </a>
                                        <a href=""class="eve_but">100 </a>
                                        <a href="" class="eve_but">250 </a>
                                        <a href="" class="eve_but">500 </a>
                                        <a href=""class="eve_but">1000 </a>
                                        <a href="" class="eve_but">5000 </a>
                                </div>
						</div>
						<!--Box 2 End-->
		 		</div>

		</div>
                        
                 </div>
          </div>
       <div class="clearfix fancy_bot col-lg-12 col-md-12 col-sm-12 lst_top_table">
            	  <div class="box-heading"> Fancy Bets  </div>
                  <div class="resp_table clearfix ">
	<table class="table table-bordered table-condensed table-responsive match_td"  border="1" bordercolor="#ccc" cellpadding="0" cellspacing="0" style=" background-color:#fff;">
		<thead>
		<tr>
			<th>Parent</th>
            <th>User Name</th>
            <th>Fancy Name</th>
            <th>Score</th>
            <th>Rate</th>
            <th>Time</th>
		</tr>
		</thead>
        
		<tbody>
		<tr>
			<td data-label="Parent">Matman</td>
			<td data-label="User Name">Manish</td>
			<td data-label="Fancy Name">Chief Sandwich Eater</td>
			<td data-label="Score">2000</td>
			<td data-label="Rate">100</td>
			<td data-label="Time">January 13, 04:00 Pm</td>
		</tr>
        
        <tr>
			<td data-label="Parent">Matman</td>
			<td data-label="User Name">Remuka</td>
			<td data-label="Fancy Name">Chief Sandwich Eater</td>
			<td data-label="Score">8000</td>
			<td data-label="Rate">200</td>
			<td data-label="Time">January 15, 12:00 Pm</td>
		</tr>
        
        <tr>
			<td data-label="Parent">Matman</td>
			<td data-label="User Name">Pooja</td>
			<td data-label="Fancy Name">Chief Sandwich Eater</td>
			<td data-label="Score">10000</td>
			<td data-label="Rate">800</td>
			<td data-label="Time">January 16, 05:00 Pm</td>
		</tr>
        
        <tr>
			<td data-label="Parent">Matman</td>
			<td data-label="User Name">Aasha</td>
			<td data-label="Fancy Name">Chief Sandwich Eater</td>
			<td data-label="Score">80000</td>
			<td data-label="Rate">300</td>
			<td data-label="Time">January 17, 08:00 Pm</td>
		</tr>
        
        <tr>
			<td data-label="Parent">Matman</td>
			<td data-label="User Name">Bharti</td>
			<td data-label="Fancy Name">Chief Sandwich Eater</td>
			<td data-label="Score">80000</td>
			<td data-label="Rate">900</td>
			<td data-label="Time">January 18, 06:00 Pm</td>
		</tr>
		
		</tbody>
	</table>
</div>
          </div>
        </div>
        
        <div class="col-sm-4 col-md-4 ">
          <div>
            <div class="">
              <div class="box-heading"> Betslip </div>
              <div class="bet-cont tab_container">
                <!--<ul class="bet-tab clearfix">
                  <li><a href="#">Singles</a></li>
                  <li><a href="#">Multiples</a></li>
                  <li><a href="#">Open Bets</a></li>
                </ul>-->
                
                <input id="bet-tab1" class="tab-inp" type="radio" name="bet-tabs" checked>
			<label for="bet-tab1" class="tab-label"><span>Singles</span></label>

			<input id="bet-tab2" class="tab-inp" type="radio" name="bet-tabs">
			<label for="bet-tab2" class="tab-label"><span>Multiples</span></label>
            
            <input id="bet-tab3" class="tab-inp" type="radio" name="bet-tabs">
			<label for="bet-tab3" class="tab-label"><span>Open Bets</span></label>
                
                <section id="bet-content1" class="tab-content">
                  <table class="table bets-table">
                    <thead>
                      <tr>
                        <th>Back (Bet For)</th>
                        <th>Odds</th>
                        <th>Stake</th>
                        <th>Profit</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr>
                        <td colspan="4" class="facing-teams">C Palace v Blackpool</td>
                      </tr>
                      
                      <tr class="blue-row">
                        <td class="bet-head">
                          <a href=""><span class="glyphicon glyphicon-remove-sign"></span></a>
                          <div class="bet-name">
                            <span>C Palace</span>
                            <span>Match Odds</span>
                          </div>
                        </td>
                        <td><input type="text" class="odds-input" /></td>
                        <td><input type="text" class="stake-input" /></td>
                        <td>£0.00</td>
                      </tr>
                      
                      <tr>
                        <td colspan="4" class="facing-teams">C Palace v Blackpool</td>
                      </tr>
                      
                      <tr class="blue-row">
                        <td class="bet-head">
                          <a href=""><span class="glyphicon glyphicon-remove-sign"></span></a>
                          <div class="bet-name">
                            <span>C Palace</span>
                            <span>Match Odds</span>
                          </div>
                        </td>
                        <td><input type="text" class="odds-input" /></td>
                        <td><input type="text" class="stake-input" /></td>
                        <td>£0.00</td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </section>
                
                <section id="bet-content2" class="tab-content">
                  <p style="text-align:center;">
                  	You will need to go to Sportsbook to place multiples
                    <button class="go-sport">Go to Sportsbook</button>
                  </p>
                  
                </section>
                
                <section id="bet-content3" class="tab-content">
                  <p> You have no bets on this market</p>
                   <p>You can view all your open bets (including Fixed Odds and Multiples) in <a href="#">My Account > Current Bets.</a></p>

                </section>
                
              </div>
            </div>
          </div>
        </div>
      
