   <link rel="stylesheet" type="text/css" href="app/assets/css/timepicker.css"/>  
<script type="text/javascript" src="app/js/libs/timepicker.js"></script>
<div class="content-wrapper report_page">
    <div class="load-box" ng-show="loading">
            <img id="mySpinner" src="app/images/loading1.gif" />
        </div>
<form name="Master" >
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 ">

 <div  class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" ng-if=" UserType == 0">
            <label>Master</label>
            <select name="MasterID" ng-model="formData.MasterId" ng-change="GetDealer(formData.MasterId,1)" class="form-control">
<option value="" >Please Select Master</option>  
                <option ng-repeat="Master in MasterData" value="{{Master.mstrid}}">{{Master.mstruserid}}</option>           
            </select>
        </div>
        <div  class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding"  ng-if=" UserType == 0 ||  UserType == 1">
            <label>Dealer</label>
            <select name="DealerID" ng-model="formData.DealerId" ng-change="GetDealer(formData.DealerId,2)" class="form-control">
<option value="" >Please Select Dealer</option>  
                <option ng-repeat="Dealer in DealerData" value="{{Dealer.mstrid}}">{{Dealer.mstruserid}}</option>           
            </select>
        </div>
        <div  class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" ng-if="UserType == 2 || UserType == 0 ||  UserType == 1">
            <label>User</label>
            <select name="UserId" ng-model="formData.UserId" ng-change="GetDealer(formData.UserId,3)" class="form-control">
<option value="">Please Select User</option>  
                <option ng-repeat="User in userData" value="{{User.mstrid}}">{{User.mstruserid}}</option>           
            </select>
        </div>
        <div  class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
            <label>Type</label>
            <select name="ReportType" ng-model="formData.ReportType" ng-change="GetReportId(formData.ReportType)" class="form-control">

                <option  value="1">Bet History</option>       
                <option  value="2">profit & Loss</option>           
                <option  value="3">Account Statements</option>           
                <option  value="4">Login History</option>
                <option  value="5" ng-if="UserType == 0">Delete Bet History</option>

            </select>
        </div>
    <div ng-if="formData.ReportType==3" class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
        <label>Transaction Type</label>
        <select name="ReportType" ng-model="formData.transaction_type" ng-change="SetType(formData.transaction_type)" class="form-control">

            <option  value="">All</option>
            <option  value="DR">Debit</option>
            <option  value="CR">Credit</option>

        </select>
    </div>


    <div ng-if="formData.ReportType==3" class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" ng-init="formData.Ac_type='ALL'">
        <label>Account Type</label>
        <select name="Ac_type" ng-model="formData.Ac_type" class="form-control">

            <option  value="ALL">All</option>
            <option value="LEDGER">Ledger</option>
            <option value="COMMISSION">Commission</option>
            <option value="SETTLEMENT">Settlement</option>
            <option value="CREDITLIMIT">Credit Limit</option>

        </select>
    </div>
<div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
                  <label>From Date</label>
                    <md-content>
                        <md-datepicker class="form-control" md-placeholder="Enter Start date" ng-model="formData.from_date"   onkeydown="return false" md-max-date="formData.MaxDate1" ng-change="formData.from_date.toISOString();setDateFun(1)" md-open-on-focus></md-datepicker>
                    </md-content>    
                    </div>
               <div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
                  <label>To Date</label>
                 <md-content>
                        <md-datepicker class="form-control" md-placeholder="Enter End date" ng-model="formData.to_date" md-min-date="formData.minDate1"  md-max-date="formData.MaxDate2" onkeydown="return false" ng-change="formData.to_date.toISOString();setDateFun(2)" md-open-on-focus></md-datepicker>
                    </md-content>
                </div>
	<div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
		          <label>From Time</label>
		         <input id="from_time" ng-model="formData.from_time" ng-disabled="formData.from_date == ''" placeholder="please enter start time" type="text" onkeydown="return false;" class="time form-control" />
		        </div>
	<div class="form-group  col-lg-3 col-md-3 col-sm-12 col-xs-12 padding" >
		          <label>To Time</label>
	       		         <input id="to_time" placeholder="please enter end time" ng-disabled="formData.to_date == ''" ng-model="formData.to_time" type="text" onkeydown="return false;" class="time form-control" />
		        </div>
    <div ng-if="formData.ReportType==1 || formData.ReportType==5">
        <div class="form-group  col-lg-12 col-md-3 col-sm-12 col-xs-12 padding" >
           <button type="button" ng-class="{'active':IsBtnActive==1}" class="btn btn-success" ng-click="FilterBetHistory('M',1)">Matched</button>
            <button type="button" ng-class="{'active':IsBtnActive==2}" class="btn btn-success" ng-click="FilterBetHistory('U',2)">Unmatched</button>
            <button type="button" ng-class="{'active':IsBtnActive==3}" class="btn btn-success" ng-click="FilterBetHistory('P',3)">Past</button>

        </div>

    </div>
        <div class="form-group  col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
          <button type="button" class="btn btn-primary" ng-click="Allsport(1);">Submit</button>
           <button type="button" class="btn btn-primary" ng-click="ResetAll(Master);">Reset</button>
  		 <div excel-export export-data="exportData" file-name="{{fileName}}"></div>
        </div>   
     </div>
     </div>

</form>



<div class="row">

<div class="col-sm-12 col-md-12" ng-show="selectedtype == '2'">
    <!-- start Tab -->
    <div ng-cloak="" class="tabsdemoDynamicHeight" ng-init="Allsport1(1)">
   <ul class="nav nav-tabs">
	  <!--  <li ng-click='SportTab=displyData.id' ng-repeat="displyData in sprtData | orderBy : 'name'" ng-if="displyData.id != 7" ng-class="{'active':'tab'+displyData.id==SportTabSelected}"><a data-toggle="tab" href="#home{{displyData.id}}">{{displyData.name}}</a></li> -->
            <li class="active" ng-click='Allsport(1)'><a data-toggle="tab" href="javascript:void()">All</a></li>
            <li ng-click='click_test(4,1)'><a data-toggle="tab" href="javascript:void()">Cricket</a></li>
            <li><a data-toggle="tab"  ng-click='click_test(1,1)' href="javascript:void()">Soccer</a></li>
            <li><a data-toggle="tab"  ng-click='click_test(2,1)' href="javascript:void()">Tennis</a></li>
	       <li ng-if="false"><a data-toggle="tab"  ng-click='click_test(-1,1)' href="javascript:void()">Fancy</a></li>
          </ul>
      <md-content ng-show="false">
        <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
          
        <!--  <md-tab md-on-select="click_test(displyData.id)" ng-repeat="displyData in sprtData" label="{{displyData.name}}">
              <md-content class="md-padding" style="display:none;">
              </md-content>
          </md-tab>  -->
          <md-tab label="All" md-on-select="Allsport(1)" >
            <md-content class="md-padding" style="display:none;">
            </md-content>
          </md-tab>
          <md-tab label="Cricket" md-on-select="click_test(4,1)">
            <md-content class="md-padding" style="display:none;">
            </md-content>
          </md-tab>
          <md-tab label="Soccer" md-on-select="click_test(1,1)">
            <md-content class="md-padding" style="display:none;">
            </md-content>
          </md-tab>
          <md-tab label="Tennis" md-on-select="click_test(2,1)">
            <md-content class="md-padding" style="display:none;">
            </md-content>
          </md-tab> 

         <!-- <md-tab label="Horse Racing" md-on-select="click_test(7)">
            <md-content class="md-padding" style="display:none;">
            </md-content>
          </md-tab> -->
          <md-tab label="Fancy" md-on-select="click_test(-1,1)">
            <md-content class="md-padding" style="display:none;">
            </md-content>
          </md-tab>
          
                    
        </md-tabs>
      </md-content>
    </div>
    </div>


    <!-- end of Tab -->
    <div class="col-lg-12 col-md-12 col-sm-12 " >
        <div class="lst_master_top clearfix">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix top_table_form member_listing" >
             
<div class="onepagehitdiv  table-responsive login_table"> 

 <table class="table onepagehit table-condensed table-striped  my-market" ng-show="selectedtype == '1'">  
         <thead>
            <tr class="bg-primary">
               <th>SNo</th>
                <th>{{(IsBtnTypes=='M' || IsBtnTypes=='U') ? 'Placed' : 'Settled'}}</th>
               <th colspan="2">Description</th>
	       <th ng-if="UserType=='1'">Dealer</th>
               <th ng-if="UserType!=3">User Name</th>
               <th ng-if="false">Selection Name</th>
               <th>Type</th>
               <th>Odds</th>
               <th>Stack</th>
               <th ng-if="false">Date</th>
               <th ng-if="IsBtnTypes!='P'">Liability</th>
                <th>{{IsBtnTypes=='P' ? 'Profit/Loss' : 'Potential Profit'}}</th>
               <th ng-if="IsBtnTypes=='P'">Status</th>

            </tr>
         </thead>   
         <tbody>
            <tr ng-repeat="GetbetData in userPL" >
               <td>{{(currentPage-1)*entryLimit +$index+1}}</td>
              <td>{{GetbetData.MstDate}}</td>
	 <td colspan="2" class="text-left">{{GetbetData.Description}}<br>
         <b>{{GetbetData.selectionName}} - </b>{{GetbetData.marketName}} <br>
           Bet ID: {{GetbetData.mstcode}} | {{IsBtnTypes=='M' ? 'Matched :' : IsBtnTypes=='P' ?  'Placed :' : ''}} {{GetbetData.MatchedDate}}
        </td>
	<td ng-if="UserType=='1'">{{GetbetData.DealerNm}}</td>
               <td ng-if="UserType!=3">{{GetbetData.UserNm}}</td>
               <td ng-if="false">{{GetbetData.selectionName}}</td>
               <td><span class="badge " ng-class="{'badge-danger': GetbetData.Type == 'Lay' ,'badge-info': GetbetData.Type == 'Back' } ">{{GetbetData.Type}}</span></td>
               <td>{{GetbetData.Odds}}</td>
               <td>{{GetbetData.Stack}}</td>
               <td ng-if="false">{{GetbetData.MstDate}}</td>

               <td ng-if="IsBtnTypes!='P'" ng-class="{'green':GetbetData.Liability>0,'red':GetbetData.Liability<0}">{{GetbetData.Liability}}</td>

                <td  ng-class="{'green':GetbetData.P_L>0,'red':GetbetData.P_L<0}">{{GetbetData.P_L}}</td>
               <td ng-if="IsBtnTypes=='P'" ng-class="{'green':GetbetData.STATUS=='WON','red':GetbetData.STATUS=='LOST'}">{{GetbetData.STATUS}}</td>
 		
            </tr>
         </tbody>
        </table>
        
     </div>   
<div class="onepagehitdiv  table-responsive login_table">

 <table class="table onepagehit table-condensed table-striped  my-market" ng-show="selectedtype == '5'">
         <thead>
            <tr class="bg-primary">
               <th>SNo</th>
                <th>{{(IsBtnTypes=='M' || IsBtnTypes=='U') ? 'Placed' : 'Settled'}}</th>
               <th colspan="2">Description</th>
	       <th ng-if="UserType=='1'">Dealer</th>
               <th ng-if="UserType!=3">User Name</th>
               <th ng-if="false">Selection Name</th>
               <th>Type</th>
               <th>Odds</th>
               <th>Stack</th>
               <th ng-if="false">Date</th>
               <th ng-if="IsBtnTypes!='P'">Liability</th>
                <th>{{IsBtnTypes=='P' ? 'Profit/Loss' : 'Potential Profit'}}</th>
               <th ng-if="IsBtnTypes=='P'">Status</th>

            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="GetbetData in userPL" >
               <td>{{(currentPage-1)*entryLimit +$index+1}}</td>
              <td>{{GetbetData.MstDate}}</td>
	 <td colspan="2" class="text-left">{{GetbetData.Description}}<br>
         <b>{{GetbetData.selectionName}} - </b>{{GetbetData.marketName}} <br>
           Bet ID: {{GetbetData.mstcode}} | {{IsBtnTypes=='M' ? 'Matched :' : IsBtnTypes=='P' ?  'Placed :' : ''}} {{GetbetData.MatchedDate}}
        </td>
	<td ng-if="UserType=='1'">{{GetbetData.DealerNm}}</td>
               <td ng-if="UserType!=3">{{GetbetData.UserNm}}</td>
               <td ng-if="false">{{GetbetData.selectionName}}</td>
               <td><span class="badge " ng-class="{'badge-danger': GetbetData.Type == 'Lay' ,'badge-info': GetbetData.Type == 'Back' } ">{{GetbetData.Type}}</span></td>
               <td>{{GetbetData.Odds}}</td>
               <td>{{GetbetData.Stack}}</td>
               <td ng-if="false">{{GetbetData.MstDate}}</td>

               <td ng-if="IsBtnTypes!='P'" ng-class="{'green':GetbetData.Liability>0,'red':GetbetData.Liability<0}">{{GetbetData.Liability}}</td>

                <td  ng-class="{'green':GetbetData.P_L>0,'red':GetbetData.P_L<0}">{{GetbetData.P_L}}</td>
               <td ng-if="IsBtnTypes=='P'" ng-class="{'green':GetbetData.STATUS=='WON','red':GetbetData.STATUS=='LOST'}">{{GetbetData.STATUS}}</td>

            </tr>
         </tbody>
        </table>

     </div>

        
<div class="total-box clearfix" ng-show="selectedtype == '1' && userPL.length > 0 ">
                        <h1 class="total-green">Total P&L: <span ng-class="{'green':CalculateSum(userPL,'P_L')>0,'red':CalculateSum(userPL,'P_L')<0}" >{{userPL | sumOfValue:'P_L' | number:2}}</span></h1>
                        <h1 class="total-green">Total Profit: <span ng-class="{'green':SumOfProfit>0,'red':SumOfProfit<0}">{{SumOfProfit | number:2}}</span></h1>
                        <h1 class="total-red">Total Liability: <span ng-class="{'green':SumOfLiability>0,'red':SumOfLiability<0}">{{SumOfLiability | number:2}}</span></h1>
                    </div>
   <div class="total-box clearfix" ng-show="selectedtype == '1' && userPL.length > 0 ">
                        <h1 class="total-green">Grand Total P&L: <span ng-class="{'green':GrandSumOfP_L>0,'red':GrandSumOfP_L<0}">{{GrandSumOfP_L | number:2}}</span></h1>
                        <h1 class="total-green">Grand Total Profit: <span ng-class="{'green':GrandSumOfProfit>0,'red':GrandSumOfProfit<0}">{{GrandSumOfProfit | number:2}}</span></h1>
                        <h1 class="total-red">Grand  Total Liability: <span ng-class="{'green':GrandSumOfLiability>0,'red':GrandSumOfLiability<0}">{{GrandSumOfLiability | number:2}}</span></h1>
                    </div>
  
            </div>
<div class=" table-responsive login_table">
  <table class="table  table-condensed table-striped " ng-show="selectedtype == '2'">
                  <thead>               
                    <tr class="bg-primary">
		
                      <th>Sno</th>
                      <th>Event Name</th>
                      <th>P_L</th>
                      <th>Comm</th>
                      <th>CreatedOn</th>
      			<th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr  ng-repeat-start="pldata in userPL">
                      <td ng-init="pldata.isShow=false">{{(currentPage-1)*entryLimit +$index+1}}</td>
                      <td>{{pldata.EventName}}</td>
                      <td ng-class="{'green':pldata.PnL>0,'red':pldata.PnL<0}">{{pldata.PnL}}</td>
                      <td ng-class="{'green':pldata.Comm>0,'red':pldata.Comm<0}">{{pldata.Comm}}</td>
                      <td>{{pldata.settle_date}}</td>  
					<td>
                    <button class="btn btn-success" ng-click="expanded = !expanded;expanded==true ? ProfitLossByMatchId(pldata,$index) : ''" expand>
                        <span ng-bind="(expanded && IsShowIndex==$index) ? '-' : '+'"></span>
                    </button>
                </td>                  
                    </tr>
		   <tr ng-repeat-end ng-show="expanded && IsShowIndex==$index">
			
			<td colspan="6">
			<table  class="table  table-condensed table-striped ">
				 <thead>               
                    <tr class="bg-primary">
                      <th>Sno</th>
                       <th>Market Name</th>
                      <th>P_L</th>
                      <th>Comm</th>
                      <th>CreatedOn</th>
                      <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
	             <tr  ng-repeat="pldata in MatchPL">
                      <td>{{$index+1}}</td>
                      <td>{{pldata.MarketName}}</td>
                      <td ng-class="{'green':pldata.PnL>0,'red':pldata.PnL<0}">{{pldata.PnL}}</td>
                      <td ng-class="{'green':pldata.Comm>0,'red':pldata.Comm<0}">{{pldata.Comm}}</td>
                      <td>{{pldata.CreatedOn}}</td>
<td><button class="btn btn-warning btn-sm" ng-click="showBet(pldata)">{{pldata.bet_deleted==1 ? 'Archive' : 'Show Bet'}}</button>
		          <span ng-if="UserType==0 && pldata.bet_deleted==0 && false" class="glyphicon glyphicon-trash" ng-click="deletePl(pldata.matchId)"></span>
                     </td>
                 
                    </tr>
		</tbody>
<tfoot ng-if="MatchPL.length==0">
			<tr>
				<td colspan="6">No record found.</td>
			</tr>
		</tfoot>
			</table>
			    </td>
		   </tr>
                  </tbody>
	
                </table>
                
   </div>    
            
                
<div class="col-lg-12 col-md-12 col-sm-12 " ng-show="selectedtype == '2'  && userPL.length > 0 && selectedtype != '4'">
      <div class="row">
      
      
      <div class="total-box clearfix" >
                        <h1 class="total-green">Total P&L <span ng-class="{'green':CalculateSum(userPL,'PnL')>0,'red':CalculateSum(userPL,'PnL')<0}">{{userPL | sumOfValue:'PnL'}}</span></h1>
                        <h1 class="total-green">Total Commission <span ng-class="{'green':CalculateSum(userPL,'P_L')>0,'red':CalculateSum(userPL,'Comm')<0}">{{userPL | sumOfValue:'Comm'}}</span></h1>
                       
                    </div>
                    
                    
      
   
    </div>
    </div>
<div class="col-lg-12 col-md-12 col-sm-12 " ng-show="selectedtype == '2'  && userPL.length > 0 ">
      <div class="row">
      
      
      
        <div class="total-box clearfix" >
                        <h1 class="total-green">Grand Total P & L  <span ng-class="{'green':Grandtot_PnL>0,'red':Grandtot_PnL<0}"> {{Grandtot_PnL}}</span></h1>
                        <h1 class="total-green">Grand Total Commission <span ng-class="{'green':Grandtot_Comm>0,'red':Grandtot_Comm<0}">{{Grandtot_Comm }}</span></h1>
                       
                    </div>
      
      
    </div>
    </div>

 <div class=" table-responsive login_table">
  <table class="table onepagehit table-condensed table-striped" ng-show="selectedtype == '3'">
                  <thead>               
                    <tr class="bg-primary">
                      <th>Sno</th>
                      <th>Date</th>
                      <th>UserName</th>
                      <th>Narration</th>
                      <th>Credit</th>
                      <th>Debit</th>
             		 <th>Balance</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr  ng-repeat="pldata in userPL | orderBy:'Sdate':true">
                      <td>{{(currentPage-1)*entryLimit +$index+1}}</td>
                      <td>{{pldata.Sdate}}</td>
                      <td>{{pldata.mstrUserId}}</td>
                      <td>{{pldata.Narration}} <span ng-if="pldata.remarkV!=''" title="{{pldata.remarkV}}"><i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                      <td class="green">{{pldata.Credit}}</td>
                      <td class="red">{{pldata.Debit}}</td>
                      <td ng-class="{'green':pldata.Balance>0,'red':pldata.Balance<0}">{{pldata.Balance | number : 2}}</td>
                     
                    </tr>
                  <tbody>
                </table>
</div>
<div class="total-box clearfix" ng-show=" selectedtype == '3' && userPL.length > 0">
                        <h1 class="total-green">Total Credit: <span ng-class="{'green':SumOfCredit>0,'red':SumOfCredit<0}">{{SumOfCredit | number:2}}</span></h1>
                        <h1 class="total-green">Total Debit: <span ng-class="{'green':SumOfDebit>0,'red':SumOfDebit<0}">{{SumOfDebit | number:2}}</span></h1>
                        <h1 class="total-red">Total Balance: <span ng-class="{'green':SumOfBalance>0,'red':SumOfBalance<0}">{{SumOfBalance | number:2}}</span></h1>
                    </div>

  
            </div>
	  
      
      
      
      
<div class=" table-responsive login_table">
 <table class="table table-condensed table-striped " ng-show="selectedtype == '4'">
                  <thead>               
                    <tr class="bg-primary">
                      <th>Sno</th>
                      <th>Date</th>
                      <th>Ip Address</th>
                      <th>UserName</th>
                      <th>Device Info</th>
                      <th>Browser Info</th>
                    


                    </tr>
                  </thead>
                  <tbody>
                    <tr  ng-repeat="pldata in userPL">
                      <td>{{(currentPage-1)*entryLimit +$index+1}}</td>
                      <td>{{pldata.logstdt}}</td>
                      <td>{{pldata.ipadress}}</td>
                      <td>{{pldata.mstruserid}}</td>
			<td>{{pldata.device_info}}</td>
                      <td>{{pldata.browser_info}}</td>
                     
                    </tr>
                  <tbody>
                </table>
                
    </div>            
                
                
<div class="row">                
 <div class="col-md-12" ng-show="userPL.length == 0">
		<span class="notfound">No Records Found</span>

            </div>
       <div class="col-md-12" ng-show="totalCount > 0">
 <pagination total-items="totalCount" ng-model="currentPage" ng-click="Allsport(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="noOfPages" items-per-page="entryLimit"></pagination>

            </div>
            
            
            </div>
            
        </div>
        </div>
        
    </div>
   
</div>
</div>

