<div class=" master-cont">
           <!-- Kiran code -->
<div class="row">
 <div class="col-sm-12 col-md-12">
 <ul class="sport-high">
              <li class="clearfix head-li">
                <div class="spor-rgt">
                  <ul class="odd-cat-head">
                    <li class="sec-mar-rgt">1</li>
                    <li class="sec-mar-rgt">x</li>
                    <li>2</li>
                  </ul>
                </div>
              </li>
              <li class="clearfix" ng-repeat="match in sportDetail">
                <div class="spor-lft">
                  <span class="glyphicon glyphicon-check" aria-hidden="true" ng-class="{'mat-stat':( od.status=='OPEN')}"></span>
                  <a ui-sref="dashboard.{{getUrl(match.TypeID,'match.matchid','match.marketid',match.matchName,match.MstDate,match.SportId)}}">
                    {{match.sportname}} > {{match.matchName}} {{match.HeadName}}<span>{{match.MstDate | date : 'EEEE HH:mm'}}</span>
                    <span  ng-class="{'mat-stat':(od.status=='OPEN')}">{{od.status=='OPEN'?od.inplay?"In-Play":"Going In-Play":od.status}}</span>
                  </a>
                </div>
                <div class="spor-rgt" ng-if='od=(oddsDetail|filter:{"marketId":match.marketid})[0]'>
                  <ul class="odds-detail">
                    <li>
                      <a  class="cell back-cell">{{getOddCalcVal(od.runners[0].ex.availableToBack[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a class="cell lay-cell">{{getOddCalcVal(od.runners[0].ex.availableToLay[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell back-cell">{{getOddCalcVal(od.runners[2].ex.availableToBack[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell lay-cell">{{getOddCalcVal(od.runners[2].ex.availableToLay[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell back-cell">{{getOddCalcVal(od.runners[1].ex.availableToBack[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell lay-cell">{{getOddCalcVal(od.runners[1].ex.availableToLay[0].price,match.oddsLimit)}}</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>