
<div class="row">

<div class="col-sm-8 col-md-8 col-xs-12 padding">
    <div class="load-box" ng-show="loading">
        <img id="mySpinner" src="app/images/loading1.gif" />
    </div>

    <div class="row subhead match-heading">
        <div class="col-md-8 col-xs-12"> <h4>{{matchName}}</h4></div>
        <div class="col-md-4 col-xs-12"><p>{{dateForm|date:'EEEE dd MMM, hh:mm a'}}</p></div>
     </div>
     
    <div>
        <div>
        <div class="matchodd-header">
            <div class="row">
                <div class="col-sm-8">
                    <div class="matchhead">{{GetMarketInfo.MarketName}} -</div>
                     <div class="matchinfo">{{PLAYPAUSE}}_Matched : <b>GLC {{GetMarketBackLayData.totalMatched|number:0}}</b></div>
                </div>
                <div class="col-sm-4 text-right">
                    <span class="goin-play"><span class="glyphicon glyphicon-ok"></span>{{GetMarketBackLayData.status=='OPEN'?GetMarketBackLayData.inplay?"In-Play":"Going In-Play":GetMarketBackLayData.status}}</span>
                    <button class="btn btn-warning btn-sm" ng-click="callOddsFunc()">Refresh</button>
                </div>
            </div>
        </div>

            <div class="market-wrapper">
                <div class="matchodd_dis" ng-if="PLAYPAUSE==1"></div>
                <div class="table-overflow">
                    <table class="table market-listing-table" ng-show="GetMarketBackLayData.status=='OPEN'">
                        <thead>
                            <tr>
                                <th class="title"> <span class="glyphicon glyphicon-star-empty"></span></i> Match Odds</th>
                                <th class="back" colspan="2"></th>
                                <th class="back">Back</th>
                                <th class="lay">Lay</th>
                                <th class="lay" colspan="2"></th>
                             </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="marketInfo in GetMarketBackLayData.runners">
                                 <td class="running-cell">
                                     <strong class="odds">{{(GetMarketBackLayDataSelectionName|filter:{"selectionId":marketInfo.selectionId})[0].runnerName}}
                                    <div ng-hide="true">

                                    {{testValue1=getSumValPnL((RunnerValue|filter: {"SelectionId":marketInfo.selectionId})[0].winValue,(RunnerValue|filter:{"SelectionId":marketInfo.selectionId})[0].lossValue)+(marketInfo.selectionId==selectionId?(formStatus==0?+((priceVal*stake)-stake):-(priceVal*stake)+stake):(formStatus==0?-stake:+stake))}} 

                                    </div>
                                    <input type="hidden" id="NewLiability_{{$index}}" name="NewLiability_" value="{{testValue1}}">

                                     </strong>
                                     <div class="size" style='{{getValColor((getSumValPnL((RunnerValue|filter: {"SelectionId":marketInfo.selectionId})[0].winValue,(RunnerValue|filter:{"SelectionId":marketInfo.selectionId})[0].lossValue)+(marketInfo.selectionId==selectionId?(formStatus==0?+((priceVal*stake)-stake):-(priceVal*stake)+stake):(formStatus==0?-stake:+stake))))}}'>
                                        <span> {{(getSumValPnL((RunnerValue|filter:{"SelectionId":marketInfo.selectionId})[0].winValue,(RunnerValue|filter:{"SelectionId":marketInfo.selectionId})[0].lossValue)+(marketInfo.selectionId==selectionId?(formStatus==0?+((priceVal*stake)-stake):-(priceVal*stake)+stake):(formStatus==0?-stake:+stake)))|number:2}}</span>
                                     </div> 
                                </td> 
                                <td class="back unhighlighted" ng-class="{'callYlCss':marketInfo.ex.availableToBack[2].SELECTED}">
                                     <strong class="odds">{{getOddCalcVal(marketInfo.ex.availableToBack[2].price,1)}}</strong>
                                     <div class="size">
                                        <span>{{getOddCalcVal(marketInfo.ex.availableToBack[2].size,2)}}</span>
                                    </div>
                                 </td> 
                                <td class="back unhighlighted" ng-class="{'callYlCss':marketInfo.ex.availableToBack[1].SELECTED}"> 
                                     <strong class="odds">{{getOddCalcVal(marketInfo.ex.availableToBack[1].price,1)}}</strong> 
                                    <div class="size">
                                        <span>{{getOddCalcVal(marketInfo.ex.availableToBack[1].size,2)}}</span>
                                        </div>
                                 </td>
                                 <td class="back" ng-class="{'callYlCss':marketInfo.ex.availableToBack[0].SELECTED}" ng-click="getOddValue($event,marketInfo.ex.availableToBack[0].price+oddsLimit,marketInfo.MstCode,0,GetMarketBackLayDataSelectionName[$index].runnerName,marketInfo.selectionId)">
                                      <strong class="odds">{{getOddCalcVal(marketInfo.ex.availableToBack[0].price,1)}}</strong>
                                     <div class="size">
                                        <span>{{getOddCalcVal(marketInfo.ex.availableToBack[0].size,2)}}</span>
                                        </div>
                                </td>
                                <td class="lay" ng-class="{'callCYanCss':marketInfo.ex.availableToLay[0].SELECTED}" ng-click="getOddValue($event,marketInfo.ex.availableToLay[0].price+oddsLimit,marketInfo.MstCode,1,GetMarketBackLayDataSelectionName[$index].runnerName,marketInfo.selectionId)">

                                    <strong class="odds" ng-model="testModel">{{getOddCalcVal(marketInfo.ex.availableToLay[0].price,1)}}</strong>
                                    <div class="size">
                                        <span>{{getOddCalcVal(marketInfo.ex.availableToLay[0].size,2)}}</span>
                                    </div>
                                 </td> 
                                <td class="lay unhighlighted" ng-class="{'callCYanCss':marketInfo.ex.availableToLay[1].SELECTED}" >
                                    <strong class="odds" ng-model="testModel">{{getOddCalcVal(marketInfo.ex.availableToLay[1].price,1)}}</strong>
                                    <div class="size">
                                        <span>{{getOddCalcVal(marketInfo.ex.availableToLay[1].size,2)}}</span>
                                     </div>
                                </td>
                                <td class="lay unhighlighted" ng-class="{'callCYanCss':marketInfo.ex.availableToLay[2].SELECTED}" >

                                    <strong class="odds" ng-model="testModel">{{getOddCalcVal(marketInfo.ex.availableToLay[2].price,1)}}</strong>
                                    <div class="size">
                                        <span>{{getOddCalcVal(marketInfo.ex.availableToLay[2].size,2)}}</span>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="betOverlay" ng-if="PLAYPAUSE==1">
                
            </div>
        </div>

    </div>

    <div class="big-odd-stat" ng-show="GetMarketBackLayData.status!='OPEN'">

        <span>{{GetMarketBackLayData.status}}</span>

    </div>

    <!-- start code for Fancy -->
    
    <div ng-repeat="FancyObject in FancyData">
            <div ng-hide="FancyObject.active==2 || FancyData.length==0">
                
                <div class="fancy">
                    <ul class="sport-high fancyListDiv">
                        <li>
                            <div class="fancy-heading fancy-head" ng-click="$parent.accBet(3);showSessionFancy(FancyObject.TypeID,FancyObject.ID);" ng-show="FancyData.length>0">
                                {{FancyObject.HeadName}} <!-- || {{FancyObject.active}} -->
                                <span class="rigt-ref">
                                    <i class="glyphicon " class="glyphicon-minus"></i>
                                </span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="ses-fan-box clearfix">
                                <!--sourabh 170125-->
                                <div style="position: relative; min-height:60px;">
                                    <div ng-hide="true">
                                        {{$root.userPlcBtn[0].Name1==''?name1=50:name1=$root.userPlcBtn[0].Name1}}
                                        {{$root.userPlcBtn[0].Value1==0?Value1=50:Value1=$root.userPlcBtn[0].Value1}}
                                        {{$root.userPlcBtn[0].Name2==''?name2=100:name2=$root.userPlcBtn[0].Name2}}
                                        {{$root.userPlcBtn[0].Value2==0?Value2=100:Value2=$root.userPlcBtn[0].Value2}}
                                        {{$root.userPlcBtn[0].Name3==''?name3=500:name3=$root.userPlcBtn[0].Name3}}
                                        {{$root.userPlcBtn[0].Value3==0?Value3=500:Value3=$root.userPlcBtn[0].Value3}}
                                        {{$root.userPlcBtn[0].Name4==''?name4=1000:name4=$root.userPlcBtn[0].Name4}}
                                        {{$root.userPlcBtn[0].Value4==0?Value4=1000:Value4=$root.userPlcBtn[0].Value4}}
                                        {{$root.userPlcBtn[0].Name5==''?name5=5000:name5=$root.userPlcBtn[0].Name5}}
                                        {{$root.userPlcBtn[0].Value5==0?Value5=5000:Value5=$root.userPlcBtn[0].Value5}}
                                        {{$root.userPlcBtn[0].Name6==''?name6=10000:name6=$root.userPlcBtn[0].Name6}}
                                        {{$root.userPlcBtn[0].Value6==0?Value6=10000:Value6=$root.userPlcBtn[0].Value6}}
                                    </div>
                                    <div style="display:block; vertical-align:top; margin-right:0; border:solid 2px #666; margin-bottom:0;min-height:60px;">
                                        <div style="display:inline-block;min-height: 50px;width: 25%;vertical-align:middle;">
                                            <div class="head-ses-fan" style="     line-height: 25px;margin-right:3px; margin-left:5px; text-align:center; margin-top:0;min-height:55px;"><span style="color:#FCA4B7; font-size:15px;">Lay</span><br />[NO]</div>
                                        </div>
                                        <div style="display:inline-block;min-height: 60px;width: 25%;vertical-align:middle;">
                                            <button style="min-height:30px;" class="lay-cell cell-btn" ng-disabled="FancyObject.active==0" ng-click="display_Yesfancy(FancyObject.SessInptNo, FancyObject.ID,$index);">{{FancyObject.SessInptNo}}</button>
                                            <button style="min-height:30px;" disabled class="disab-btn">{{FancyObject.NoValume}} </button>
                                        </div>
                                        <div style="display:inline-block;width: 24%;min-height: 60px;vertical-align:middle;">
                                            <div class="head-ses-fan" style="     line-height: 25px;margin-right:3px; margin-left:3px; text-align:center; margin-top:6px;"><span style="color:#7CC4F7; font-size:15px;">Back</span><br />[Yes]</div>
                                        </div>
                                        <div style="display:inline-block;width: 20.4%;vertical-align:middle;min-height: 60px;float: right;">
                                            <button style="min-height:30px;" class="back-cell cell-btn" ng-disabled="FancyObject.active==0" ng-click="display_Nofancy(FancyObject.SessInptYes, FancyObject.ID,$index);">{{FancyObject.SessInptYes}}</button>
                                            <button style="min-height:30px;" disabled class="disab-btn">{{FancyObject.YesValume}}</button>
                                        </div>
                                    </div>
                                    <div style="display:inline-block;padding: 5px 4px 1px;box-shadow: 0 0 2px #ccc; margin-bottom:5px;" ng-show="(userType==3 || $root.NodeCntUsrDetails.usetype==3) && (userType!=0) && (openfancy[FancyObject.ID].open)" class="check-element animate-show" ng-class="{true:'lay-ele-box',false:'back-ele-box'}[openfancy[FancyObject.ID].yes]">

                                        <div class="betOverlaypre{{$index}}" >
                                            <img src="app/images/loader.gif">
                                        </div>
                                        <!--<form name="oddForm" method="post" style="">-->
                                        <div style="display:inline-block; vertical-align:top; margin-right:7px;">
                                            <div class="head-ses-fan">{{({true:'Lay[NO]',false:'Back[Yes]'}[openfancy[FancyObject.ID].yes])}}</div>
                                             <input type="text" class="bet-on" ng-model="FancyObject.SessInptNo" readonly="readonly" ng-if="openfancy[FancyObject.ID].yes"/>
                                            <input type="text" class="bet-on" ng-model="FancyObject.SessInptYes" ng-if="!openfancy[FancyObject.ID].yes"/>
                                        </div>
                                        <div style="display:inline-block; vertical-align:top; margin-right:7px;">
                                            <div class="head-ses-fan">Stake</div>
                                            <input type="number" class="stake-inp size" min="0" ng-model="betValue[FancyObject.ID]" id="betValueLay{{$index}}" name="betValue" autofocus>
                                            <input type="hidden" name="odd" value="1" ng-model="OddValue">
                                            
                                        </div>
                                        <!--</form>-->
                                        <div ng-if="$root.MyLenth==0"  class="fancy-btn" style="display:inline-block; margin-right:4px;">
                                            <div style="display:inline-block; vertical-align:top;">
                                                <button ng-click="GetBetValue(2000, FancyObject.ID)" class="btn btn-primary btn-sm">2000</button><br />
                                                <button ng-click="GetBetValue(15000, FancyObject.ID)" class="btn btn-primary btn-sm">15000</button>
                                            </div>

                                            <div style="display:inline-block; vertical-align:top;">
                                                <button ng-click="GetBetValue(5000, FancyObject.ID)" class="btn btn-primary btn-sm">5000</button><br />
                                                <button ng-click="GetBetValue(25000, FancyObject.ID)" class="btn btn-primary btn-sm">25000</button>
                                            </div>

                                            <div style="display:inline-block; vertical-align:top;">
                                                <button ng-click="GetBetValue(10000, FancyObject.ID)" class="btn btn-primary btn-sm">10000</button><br />
                                                <button ng-click="GetBetValue(50000, FancyObject.ID)" class="btn btn-primary btn-sm">50000</button>
                                            </div>
                                            <div style="display:inline-block; vertical-align:top;">
                                            <button class="btn btn-danger btn-sm" ng-click="GetBetValueReset(0,true, FancyObject.ID)">Cancel </button><br>
                                            <button class="btn btn-info btn-sm" ng-disabled="FancyObject.active==0" ng-click="saveSessionBet(FancyObject.pointDiff, FancyObject,$index)">Place</button>
                                        </div>
                                        </div>
                                        <div ng-if="$root.MyLenth==1" class="fancy-btn" style="display:inline-block; margin-right:4px;">
                                            <div style="display:inline-block; vertical-align:top;">
                                                <button type="button" ng-click="GetBetValue(Value1, FancyObject.ID)" class="btn btn-primary btn-sm">{{name1}}</button><br />
                                                <button type="button" ng-click="GetBetValue(Value4, FancyObject.ID)" class="btn btn-primary btn-sm">{{name4}}</button>
                                            </div>
                                            <div style="display:inline-block; vertical-align:top;">
                                                <button type="button" ng-click="GetBetValue(Value2, FancyObject.ID)" class="btn btn-primary btn-sm">{{name2}}</button><br />
                                                <button type="button" ng-click="GetBetValue(Value5, FancyObject.ID)" class="btn btn-primary btn-sm">{{name5}}</button>
                                            </div>
                                            <div style="display:inline-block; vertical-align:top;">
                                                <button type="button" ng-click="GetBetValue(Value3, FancyObject.ID)" class="btn btn-primary btn-sm">{{name3}}</button><br />
                                                <button type="button" ng-click="GetBetValue(Value6, FancyObject.ID)" class="btn btn-primary btn-sm">{{name6}}</button>
                                            </div>
                                            <div style="display:inline-block; vertical-align:top;">
                                            <button class="btn btn-danger btn-sm" ng-click="GetBetValueReset(0,true, FancyObject.ID)">Cancel </button><br>
                                            <button class="btn btn-info btn-sm" ng-disabled="FancyObject.active==0" ng-click="saveSessionBet(FancyObject.pointDiff, FancyObject,$index)">Place</button>
                                        </div>

                                        </div>
                                        
                                    </div>
                                    <div ng-if="FancyObject.active==0" class="ball-msg-box">
                                        <h1>Ball Started</h1>
                                    </div>
                                    <div ng-if="FancyObject.active==4 || FancyObject.active==2" class="ball-msg-box">
                                        <h1>{{FancyObject.DisplayMsg}}</h1>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <!-- end the code of Fancy -->

    <div class="row">
        <div class="col-sm-6 padding">
             <div class="fancy-collapse-panel">
                <div class="panel panel-default match">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">Matched Bets ({{(UserData | filter : {"IsMatched":"1"}).length}})</h3>
                    </div>
                    <div class="panel-body unmatchedScrollTable" ng-if='(UserData | filter : {"IsMatched":"1"}).length>0'>
                        <table class="table betslip-table">
                            <thead>
                               <tr>
                                   <th >Runner</th>
                                  
                                   <th>Dealer</th>
                                   <th>Client</th>
                                   <th>odds </th>
                                   <th>stack</th>
                                   <th>P&l</th>
                                   <th>dateTime</th>
                                </tr>
                            </thead>
                             <tbody>
                                <tr ng-repeat='unMatchedData in (UserData | filter : {"IsMatched":"1"})' ng-class="{'lay-head': unMatchedData.isBack == 1 , 'back-head': unMatchedData.isBack == 0}">
                                    <td >{{unMatchedData.selectionName}}</td>
                                    <td>{{unMatchedData.ParantName}}</td>
                                    <td>{{unMatchedData.userName}}</td>
                                    <td>{{unMatchedData.Odds}}</td>
                                    <td>{{unMatchedData.Stack}}</td>
                                    <td>{{unMatchedData.P_L}}</td>
                                    <td>{{unMatchedData.MstDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 padding">
             <div class="fancy-collapse-panel">
                <div class="panel panel-default match">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h3 class="panel-title">Unmatched Bets ({{(UserData | filter : {"IsMatched":"0"}).length}})</h3>
                    </div>
                    <div class="panel-body unmatchedScrollTable" ng-if='(UserData | filter : {"IsMatched":"0"}).length>0'>
                        <table class="table betslip-table">
                    <thead>
                       <tr>
                            <th></th>
                           <th >Runner</th>
                          
                           <th ng-if="USERTYPE==0 || USERTYPE==1">Dealer</th>
                           <th ng-if="USERTYPE==0 || USERTYPE==1 ||USERTYPE==2">Client</th>
                           <th>odds </th>
                           <th>stack</th>
                           <th>P&l</th>
                           <th>dateTime</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr ng-repeat='unMatchedData in (UserData | filter : {"IsMatched":"0"})' ng-class="{'lay-head': unMatchedData.isBack == 1 , 'back-head': unMatchedData.isBack == 0}">
                            <td><span class="glyphicon glyphicon-trash" ng-click="deleteUser(unMatchedData.MstCode,unMatchedData.UserId)"></span></td>
                            <td >{{unMatchedData.selectionName}}</td>
                            
                            <td ng-if="USERTYPE==0 || USERTYPE==1">{{unMatchedData.ParantName}}</td>
                            <td ng-if="USERTYPE==0 || USERTYPE==1 ||USERTYPE==2">{{unMatchedData.userName}}</td>
                            <td>{{unMatchedData.Odds}}</td>
                            <td>{{unMatchedData.Stack}}</td>
                            <td>{{unMatchedData.P_L}}</td>
                            <td>{{unMatchedData.MstDate}}</td>
                        </tr>
                    </tbody>
                   </table>
                    </div>
                </div>
            </div>   
        </div>

    </div>
</div>


<div class="col-sm-4 col-md-4 col-xs-12 padding">
     <div class="fancy-collapse-panel">
        <div class="panel panel-default match">
            <crntusrpsn></crntusrpsn>
        </div>
    </div>
    <div>
           

                    
    </div>
    <!-- end the code of bet list -->
    

    
</div>
</div>