.subactive{    max-height:50vh;
    overflow: auto;
    overflow-x: hidden;}
	
	
/**** css start by vijay 28/08/2018  ***********/
	
h3.panel-title.ng-binding {
    font-size: 14px;
    padding: 8px;
}
.show_betinfo .panel-title a {
    padding: 8px 8px;
    font-size: 14px;
	 cursor: pointer;
}
div#exTab1 a {
    cursor: pointer;
}
div#exTab1 ul.nav.nav-pills {
    width: 100%;
    display: inline-block;
}
div#exTab1 ul.nav.nav-pills li {
    width: auto;
    display: inline-block;
	vertical-align: top;
}
.inplay .sport_blk {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
ul.odds_tex {
    width: 100%;
    display: inline-block;
}
a.td_btn {
    font-size: 12px;
}
.betsilip_sec h5 {
    width: 100%;
    display: inline-block;
	vertical-align: middle;
    line-height: 41px;
}

#edit_popup {
    margin-top: -45px;
}
.iner_form .form_text:last-child {
    width: 42% !important;
}
.form_button {
    float: left;
    display: inline-block;
    width: auto;
    margin: 0 2px;
    padding: 1px 6px;
}
.iner_form .btn {
    padding: .1rem 0.75rem;
}
.report_filter ul li {
    vertical-align: top;
}
.total-red {
    font-size: 20px;
	text-align: right;
}
.total-green {
    font-size: 20px;
	
}
.ag-fresh .ag-paging-panel {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
}
.container.terncondition h2 {
    font-size: 25px;
    margin-bottom: 20px;
}
.content-wrapper .report_filter ul li {
    display: inline-block;
    width: auto;
}
md-content {
    display: inline-table;
}
.report_filter .form-group [type="button"] {
    padding: 10px 10px;
}

 .navbar-collapse{width: 32%; flex-basis: inherit;}

.edit_stakes{float: right;}
.edit_stakes .form_button a{margin-right: 0px;}

.cdate {width: 66%;text-align: right;}
.cdate .point_hed{display: inline-block;vertical-align: top;}
.searchbar .form-control{float: right;border-radius: 2px;color: #0f2327;font-size: 14px;height: 22px; padding-left: 31px;}
.searchbar .form-control::placeholder{color: #0f2327;}
.cdate .datetime {float: left;color: #fff;padding-top: 10px;font-family: sans-serif;font-size: 15px;}
.load-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000bd;
    z-index: 10001;
}
.load-box img {   width: 55px;   height: 55px;  position: fixed;
    left: 0; right:0;
    top: 0; bottom:0; margin:auto}
md-toolbar-tools{ background:#000 !important}

.searchbar {
    width: 245px;
	position: relative;
}
.cdate .datetime{padding-left: 107px;}
.searchbar .fa-search {position: absolute;color:#757575;left:-34px;top: 13px; font-size: 14px;}

.tabsdemoDynamicHeight ul li a {
  background: #4c4e4e;
  color: #fff;
  display: inline-block;
  margin-right: 1px;
  padding: 5px 15px;border-radius:3px 3px 0px 0px;
}
.tabsdemoDynamicHeight ul li a:hover, .tabsdemoDynamicHeight ul li a.active  { background:#323333; color:#fff; }

.mobilebox{ position:relative}
.terncondition  li{ padding: 0px 0 25px 12px;    list-style-type: decimal;    margin-left: 17px;}
.bet_table table td.team_name + td,
.bet_table table td.team_name a{ font-size:12px;} 
.newdesign a.td_btn{margin: 0px;margin-bottom: 0px;}
.newdesign .bet_table table td{ padding:0}
.newdesign .bet_table{ border:none;}



.bet_table .table tbody td a.td_btn{       padding: 6px 2px;    border-radius: 0;    width: 56px;    font-size: 12px;}
.betright{ float:right}

td.betboxtd {   width:50%; text-align:right}
.betbox {     display: block;    width: 113px;    float: left;    overflow: hidden;}
.blank_blk .betbox{ max-width: 103px; }



.showpoupbox form#form1{    top: 15px;}
a.savebtn {  background: #4d9871;}

body.activebetslip {    position: fixed;    height: 100%;    overflow: hidden;}


.livetv_heading {
    background: #1f5058;
    color: #fff;
    font-size: 12px;
    line-height: 32px;
    padding: 0 12px;
    margin-bottom: 5px;
	cursor:pointer;
	position:relative;
	 
}

.livetv_heading:after{      content: "\f106";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 45%;
    font-size: 20px;
    text-align: center;
    line-height: 30px;}
	
	.livetv_heading.collapsed:after{    content: "\f107";}
	
	


@keyframes blink {
    0% {
           background-color: rgba(255,0,0,1)
    }
    50% {
           background-color: rgba(255,0,0,0.5)
    }
    100% {
           background-color: rgba(255,0,0,1)
    }
}
@-webkit-keyframes blink {
    0% {
           background-color: rgba(255,0,0,1)
    }
    50% {
           background-color: rgba(255,0,0,0.5)
    }
    100% {
           background-color: rgba(255,0,0,1)
    }
}

 .banking {

   
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    -moz-animation:blink normal 1.3s infinite ease-in-out;
    /* Firefox */
    -webkit-animation:blink normal 1.3s infinite ease-in-out;
    /* Webkit */
    -ms-animation:blink normal 1.3s infinite ease-in-out;
    /* IE */
    animation:blink normal 1.3s infinite ease-in-out;
    /* Opera */
}


@media screen and (min-width:768px) {
	#showonclick{ display:none;}
	
}
@media screen and (max-width:1023px) {
 
/*td.odds_blk a.td_btn {float: none;min-width: 50%;width: auto !important;}
.bet_table table tr td:first-child, .bet_table table tr td:last-child, .bet_table table tr td:nth-child(2n+3){ display:none;}
*/



.newdesign .bet_table table td {display: inline-block ;padding: 10px ;width: 100%;}
.betright .betbox { display:inline-block; } 
.betright .odds_blk.betbox { display:inline-block;  } 

.newdesign .bet_table table tr td:first-child {width: 100%;}
td.betboxtd {width: 30%;}
.betright { width:100%; }

}

[type="checkbox"]:checked, [type="checkbox"]:not(:checked) { position: absolute; left: -9999px; }
[type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label { position: relative; padding-left: 22px; cursor: pointer; line-height: 18px; display: inline-block; color: #666; font-size: 13px;}
[type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before { border-radius: 2px; content: ''; position: absolute; left: 0; top: 0; width: 15px; height: 15px; border: 1px solid #b2b2b2; background: #fff; }
[type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after { content: ''; width: 5px; height: 10px; border: solid #838383; border-width: 0 2px 2px 0; position: absolute; top: 2px; left: 5px; transform: rotate(45deg); webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
[type="checkbox"]:not(:checked) + label:after { opacity: 0; }
[type="checkbox"]:checked + label:after { opacity: 1; }




@media screen and (max-width:1169px) {
	div#navbarResponsive{position: initial !important;}
	.cdate { width:80%; }
	.cdate .datetime {padding-left: 20px;}
	.searchbar {width: 130px;}
	form#form1{    top: 12px;  width: 83%;}
	.bet_table .table tbody td a.td_btn {height: 30px;overflow: hidden;padding: 6px 2px !important;width: 42px !important;}
	.betbox { width:auto !important; }
	.navbar-expand-lg .navbar-toggler {display: inline-block;position: absolute;right: 10px;top: 22px;}
	#mainNav .container-fluid {padding-top: 16px;}
	#navbarResponsive .navbar-nav {margin-right: 37px;}
}

@media screen and (max-width:1000px) {
.cdate { width:52%; }
.cdate .datetime {padding-left: 5px;}
.searchbar {width: 110px;}
#navbarResponsive.navbar-collapse { width:28%; }
#navbarResponsive .navbar-nav { float:left; }
#mainNav .container-fluid {padding-top: 18px;}
.navbar-toggler-right { top:20px; }
body.addrightcls .main-sidebar {top: 58px !important;}
.content-wrapper .table tbody td {font-size: 12px;}

.content-wrapper .table tbody td {padding: 7px !important;}

}
@keyframes ChangeLay {
    0% {
        background-color: #e2b6b6;
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #e2b6b6;
    }
}
@keyframes ChangeBack {
    0% {
        background-color: #c0e1f2;
    }
    50% {
        background-color: #fff;
    }
    100% {
        background-color: #c0e1f2;
    }
}
.callYlCss{ animation: ChangeBack 0.3s;}.callCYanCss{ animation: ChangeLay 0.3s;}
@media screen and (max-width:767px) {
#navbarResponsive.navbar-collapse{ width:100%}
.cdate .datetime{    font-size: 13px;  padding-bottom: 10px;}
.content{ padding:0}
body .main-sidebar{left: -230px; }
.cdate .datetime {  padding-left: 0;}
.searchbar {  width: 88%;}
.main-header {    position: relative;    z-index: 100;}
.modal-backdrop.show{ z-index:140}
.mobileview{       position: fixed;
    top: 82px;
    right: 0;
    width: auto;
    background: #1f5058;
    color: #fff;
    z-index: 10001;
    padding: 10px;
} 

.newdesign .bet_table table tr td{ border:none !important}
.newdesign .bet_table table tr td.betboxtd{ border-bottom:1px solid #ddd !important}

.mobilebox{ position: fixed;   top: 0;  left: 0;   z-index: 1001; width:100%;  height: 100vh;  overflow: auto;   background: #fff; display:none;}
.activebetslip .mobilebox{ display:block;} 
.activebetslip .mobileview{   top: 63;}
.closebtn{ display:none;}
.activebetslip .betshowbtn{ display:none;}
.activebetslip .closebtn{ display:block;}

.main-header { max-height:123px; }
.main-header > .navbar { padding-bottom:0px; }
.main-header > .navbar { height:auto; }
.cdate {
  padding-right: 60px;
  width: 68%;
}

#mainNav .container-fluid {padding-top: 0;}
.mobileview { top:90px; padding:4px 10px; }
body.addrightcls .main-sidebar {padding-top: 0;top: 0 !important;}
}


@media screen and (max-width:479px) {
.main-header>.navbar{    height: auto;}
.cdate { width: 100%;}	
.mobileview {padding: 8px 10px;top: 85px;}
.searchbar {width: 81%;}	
}




