    <div class="content-wrapper ng-scope" style="min-height: 720px;">
   <div class="load-box" ng-show="loading">
            <img id="mySpinner" src="app/images/loading1.gif" />
        </div>
    <h1 class="page-heading" style="display: inline-block; float: left;">Account Statement</h1> 
        <div class="file-icons " style="display: inline-block; float: right;margin-top: 8px;">
            <a ng-click="onBtExport()"><img src="app/images/file2.png" /></a>
            
        </div>
    <!-- <div class="form_box  col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding: 0px;">
                        
                </div> -->

	<div class="col-sm-12 col-md-12 master-cont">
    <!-- START -->
    
        <div class="col-lg-12 col-md-12 col-sm-12 " style="padding: 0px;">
               <!--  {{BetHistory}} -->
            
            <div class="lst_master">
                <div class="resp_table clearfix ">
                    <div id="myGrid" class="ag-blue" style="height: 420px; margin-top: 4px;"></div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
