      <md-dialog class="dial-width-500">
          <md-toolbar>
              <div class="md-toolbar-tools">
                  <h2>Change Password</h2>
                  <span flex></span>
                 
              </div>
              
          </md-toolbar>
          <md-dialog-content>
              <div class="md-dialog-content">
                <div class="clearfix">
                    <form name="changePasswordForm" method="post" novalidate="" >
                                   
                      <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="popup-inp-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                        <label>Old Password </label>
                          <input type="password" class="popup-input form-control" id="old_pass" name="oldPassword" ng-model="oldPassword" md-autofocus/>
                          </div>
                        </div>

                       <div class="popup-inp-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="form-group">
                        <label >New Password</label>
                          <input type="password" class="popup-input form-control" name="newPassword" ng-model="newPassword" required="required"/>
                          </div>
                        </div>
                        <div class="popup-inp-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                        <label>Confirm Password</label>
                          <input type="password" class="popup-input form-control" name="cnfnewPassword" ng-model="cnfnewPassword" required="required" ng-match="newPassword"/>
                          
                          </div>
                        </div>
                      </div>
                      <div class="popup-form-box  col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" style="text-align:center;">
                          <button type="button" ng-click="updatePassword(oldPassword,newPassword,cnfnewPassword)" class="btn btn-primary">Reset Password</button>
                      </div>
                    </form>
                </div>
              </div>
          </md-dialog-content>
      </md-dialog>

