
<md-dialog>
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools"><h2>Free Chips In/Out</h2></div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">


                    <div class="clearfix">
                        <form name="freechips" method="post" novalidate >

          <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
            <div class="popup-inp-box col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="inptfrchp=0">
            
                   <!--  {{maxValu}} -->
           
          
           
                   <!-- max="{{maxValu}}" -->
              <input type="number" id="Free_chip" name="Chips" min="1" step="1" ng-model="Chip.ChipVal" ng-value="inptfrchp" class="popup-input" required="required" md-autofocus />
              <label>Parant Free chips = {{pFreeChipVal}} || User Free Chips ={{UFreeChipVal}}</label>
            </div>

            <div class="popup-inp-box  col-lg-12 col-md-2 col-sm-12 col-xs-12">
              <input type="text" name="Reference" id="Free_chip_Reference" ng-model="Chip.Ref" class="popup-input"/>
              <label >Reference  || {{Chip.ChipVal}}</label>
              <input type="hidden" name="parantChpLimit" ng-model="pFreeChipVal" ng-value="pFreeChipVal">
              <input type="hidden" name="UserChpLimit" ng-model="UFreeChipVal" ng-value="UFreeChipVal">
            </div>
          </div>

          <div class="popup-form-box  col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" style="text-align:center;">
            <!-- ng-disabled="!freechips.$valid" -->
            <input type="submit" class="btn btn-primary" ng-disabled="!freechips.$valid" ng-click="FreeChipsSubmit(Chip,1,node.id,1,userType)" value="CREDIT">
            <input type="submit" class="btn btn-primary" ng-disabled="!freechips.$valid" ng-click="FreeChipsSubmit(Chip,2,node.id,1,userType)" value="DEBIT">
          </div>
        </form>
                    </div>

                    </div>
                </md-dialog-content>
                <!-- <md-dialog-actions layout="row">
                    <md-button ng-click="hide()">
                        Update Chips
                    </md-button>
                </md-dialog-actions> -->
            </form>
</md-dialog>