<md-dialog class="dial-width-650">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>View Account For {{node.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="clearfix">
                <form name="updateAc" id="updateAc" method="post" ng-submit="UpdateViewAccount(user,node,currentScope1)">
                    <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div style="border-bottom:solid 2px GREEN; font-size:14px; padding-bottom:9px; margin-bottom:15px; color:GREEN; font-weight:bold; text-transform:uppercase;">User</div>
                        <div class="popup-inp-box col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" class="popup-input" name="username" id="vewMod2ID" ng-value="node.name" readonly="readonly" ng-model="user.vewMod2ID" md-autofocus />
                            <label>User ID</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <input type="text" class="popup-input" name="Name" id="vewMod2Name" ng-value="node.mstrname" ng-model="user.vewMod2Name" />
                            <label>Name</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input type="number" id="maxProfit1" name="maxProfit1" class="popup-input" ng-value="node.lgnUserMaxProfit" ng-model="user.maxProfit1" />
                            <label>Max Profit <!-- {{currentScope1}} --></label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input type="number" id="maxLoss1" name="maxLoss" class="popup-input" ng-value="node.lgnUserMaxLoss" ng-model="user.maxLoss1" />
                            <label>Max Loss</label>
                        </div>
                    </div>
                    <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <!--{{node.usetype==3?prtnship=true:prtnship=false}}-->
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-if="node.usetype!=3">
                            <input type="number" id="partnership1" name="partnership" class="popup-input" step="1" max="{{maxValue}}" ng-value="node.partner" ng-model="user.partnership1" />
                            <label>Partnership {{node.usetype==2?maxValue=(node.partner):maxValue=100}}</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="popup-inp-box col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="node.usetype=='3'">
                                <input type="text" id="betDelay" name="betDelay" ng-keypress="checkInput(this.value)" class="popup-input" ng-model="node.set_timeout" />
                                <label>Bet Delay<!-- {{node.set_timeout}} --></label>
                            </div>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-show="node.usetype==3">
                            <input type="number" id="maxStake1" ng-value="node.lgnUserMaxStake" name="maxStake" class="popup-input" ng-model="user.maxStake1" />
                            <label>Max Stake</label>
                        </div>
                        <div class="popup-inp-box col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix" style="text-align:center; margin-bottom:20px;" ng-hide="node.usetype==sessionusetype">
                            <input type="submit" name="updateAc1" class="btn btn-primary" ng-disabled="!updateAc.$valid" value="Update" />
                        </div>
                    </div>
                </form>
                <form name="updatePrtnership">
                    <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div style="border-bottom:solid 2px GREEN; font-size:14px; padding-bottom:9px; margin-top:10px; margin-bottom:15px; color:GREEN; font-weight:bold; text-transform:uppercase;">Partnership <span style="color:GREEN;float:right;">TOTAL PARTNERSHIP <span ng-class="{true:'green-class',false:'red-class'}[btnvalue==100]">[{{btnvalue=(Admin+Master+Dealer)|number}}]</span></span> </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input class="popup-input" type="number" name="admin" ng-model="Admin">
                            <label>Admin</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input class="popup-input" type="number" name="admin" ng-model="Master">
                            <label>Master</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input class="popup-input" type="number" name="admin" ng-model="Dealer">
                            <label>Dealer</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <button type="button" class="btn btn-primary" name="updatePrtnerShip" ng-disabled="btnvalue==100?false:true" ng-click="updatePartnerShip(Admin,Master,Dealer,node.id)" ng-hide="node.usetype==sessionusetype">Update</button>
                        </div>
                    </div>
                </form>
                <form name="updateCommission1">
                    <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div style="border-bottom:solid 2px GREEN; font-size:14px; padding-bottom:9px; margin-top:10px; margin-bottom:15px; color:GREEN; font-weight:bold; text-transform:uppercase;">Commission </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input class="popup-input" type="number" name="oddsCommission" ng-model="Commission">
                            <label>Odds Commission</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input class="popup-input" type="number" name="sessionCommition" ng-model="SessionComm">
                            <label>Session Commission</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <input class="popup-input" type="number" name="otherCommisssion" ng-model="otherComm">
                            <label>Other Commission</label>
                        </div>
                        <div class="popup-inp-box  col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <button type="button" class="btn btn-primary" name="updatePrtnerShip" ng-click="updateCommission(Commission,SessionComm,otherComm,node.id)" ng-hide="node.usetype==sessionusetype">Update</button>
                            
                        </div>
                    </div>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary" name="updatePrtnerShip" ng-click="hide()">Close</button>
                    </div>
                </form>
                
            </div>
        </div>
    </md-dialog-content>
</md-dialog>