<md-dialog class="dial-width-500">
 <div class="load-box" ng-show="loading">
            <img id="mySpinner" src="app/images/loading1.gif" />
        </div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Change Password For {{node.usename}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="clearfix">
                <form name="changePasswordForm" method="post" novalidate="" ng-submit="changeUserPasswordSubmit(user,node)">
                   
                   
                    <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        
                        <div class="popup-inp-box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="password" class="popup-input" name="newPassword" ng-model="user.newPassword" required="required" />
                            <label>New Password</label>
                        </div>
                        <div class="popup-inp-box  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="password" class="popup-input" name="cnfnewPassword" ng-model="user.cnfnewPassword" required="required" ng-match="newPassword" />
                            <label>Confirm Password</label>
                        </div>
                    </div>
                    <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                       
                    </div>
                    <div class="popup-form-box  col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" style="text-align:center;">
                        <input type="hidden" id="userId1" name="userId1" ng-value="node.id" />
                        <input type="submit" name="changePassword" value="Change" class="btn btn-primary" />
                        <!-- <button type="button" ng-click="ResetGloPass(node.id)" class="btn btn-primary">Reset Password</button> -->
                    </div>
                </form>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
