
  <div class="content-wrapper">
 <div class="load-box" ng-show="loading">
                <img id="mySpinner" src="app/images/loading1.gif" />
            </div>
    <h1 class="binding">Change Password </h1>

     
          <div class="clearfix creat_form changePwdPage change_password">
            <p ng-show="message" style="text-align: center; color:#FE5454; font-size: 18px; margin-bottom: 15px;">{{message}}</p>
               <!--  <span ng-show="message" class="error"></span> -->
              <form name="userForm" method="post" novalidate="" ng-submit="submitForm()">
   <div class="row">
                <div class="form_row col-md-12  clearfix" >
                <div class="chngpass">  
                
                <div class="form_box  form-group ">
                    <label>Old Password</label>
                   <input type="password" name="old_password" class="input-box form-control" ng-model="old_password"  ng-model="old_password"  md-autofocus required  >
                   <span style="color: red;" ng-show="userForm.old_password.$error.required && userForm.old_password.$dirty">Please enter old passwod</span>
                   <!-- <span style="color: red;" ng-show="!userForm.old_password.$error.required && (userForm.old_password.$error.minlength || userForm.old_password.$error.maxlength) && userForm.old_password.$dirty">Passwords must be between 8 and 20 characters.</span> -->
                  <!--  <span  style="color: red;" ng-show="!userForm.old_password.$error.required && !userForm.old_password.$error.minlength && !userForm.old_password.$error.maxlength && userForm.old_password.$error.pattern && userForm.old_password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span> -->
                  </div>
                  <div class="form_box form-group  ">
                    <label >New Password</label>
                    <input type="password" name="newpassword" class="input-box form-control" ng-model="newpassword"    required>
                     <span style="color: red;" ng-show="userForm.newpassword.$error.required && userForm.newpassword.$dirty">Please enter new password</span>
                   <!-- <span style="color: red;" ng-show="!userForm.newpassword.$error.required && (userForm.newpassword.$error.minlength || userForm.newpassword.$error.maxlength) && userForm.newpassword.$dirty">Passwords must be between 8 and 20 characters.</span> -->
                   <!-- <span style="color: red;" ng-show="!userForm.newpassword.$error.required && !userForm.newpassword.$error.minlength && !userForm.newpassword.$error.maxlength && userForm.newpassword.$error.pattern && userForm.newpassword.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span> -->
                  </div>
                  <div class="form_box form-group  ">
                    <label >Renew Password</label>
                    <input type="password" name="Renewpassword" class="input-box form-control" ng-model="Renewpassword"  required>
                    <span style="color: red;" ng-show="userForm.Renewpassword.$error.required && userForm.Renewpassword.$dirty">Please confirm your password.</span>
                   <span style="color:red;" ng-show="Renewpassword != null && Renewpassword != newpassword">Renew Password do not match</span>
                  </div>
                  
                  
                    <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary"  ng-disabled="!userForm.$valid">Submit</button>
                </div>
               </div>
                  
                </div>
                        
                           
                
                        
            
              
              
              <div class="col-md-3"> &nbsp; </div>
                        
               </div> 
          </form>
                    
                      
          
      </div>
  </div>




  
