  <div class="content-wrapper" style="min-height: 720px;">
      <h1 class="page-heading">Change Password</h1>
      <!--<h2 style="text-align: center; font-size: 28px; margin-bottom: 15px;">Create Dealer</h2>-->
      <div class="row">
          <div class="clearfix creat_form changePwdPage">
            <p ng-show="message" style="text-align: center; color:#FE5454; font-size: 18px; margin-bottom: 15px;">{{message}}</p>
               <!--  <span ng-show="message" class="error"></span> -->
              <form name="userForm" ng-submit="submitForm()">

                <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                  <div class="form_box  col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Old Password</label>
                   <input type="password" name="old_password" class="input-box" ng-model="old_password" required="required" >
                  </div>
                  <div class="form_box  col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label >New Password</label>
                    <input type="password" name="newpassword" class="input-box" ng-model="newpassword" required="required" >
                  </div>
                  <div class="form_box  col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label >Renew Password</label>
                    <input type="password" name="Renewpassword" class="input-box" ng-model="Renewpassword" required="required" >
                  </div>
                  
                </div>
                        
                <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                 
                  
                </div>
                                     
                
                        
              <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                <div class="form_box  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
                        
              
          </form>
                    
                      
            </div>
      </div>
  </div>




  
