<div class="content-wrapper" style="min-height: 720px;">
<div class="load-box" ng-show="loading">
                <img id="mySpinner" src="app/images/loading1.gif" />
            </div>
<h1 class="page-heading">Bet History<!--{{MarketId}}  || {{getMiusAc}} -->
    <div class="file-icons" style="margin:0; float:right; display:inline-block;">
        <a ng-click="onBtExport()"><img src="app/images/file2.png" style="margin-top:-5px;display:inline-block;" /></a>
    </div></h1>

     <div class="col-sm-12 col-md-12 master-cont">
         <div class="clearfix">
            <div class="box-heading diff-head">
                 <h4 class="page-heading" style="text-align:center;"><span>{{Marketdata.EventName}}[ {{Marketdata.MarketName}} ] </span> 
<!-- <span style="color:aqua;font-size:16px;">A/C Of {{GTUserName}}</span>    -->
<button type="button" class="go-back" ng-click="GetPreviousPage()"><i class="glyphicon glyphicon-arrow-left" style="margin-right:5px; font-size:11px;"></i>Go Back</button></h4>
                <!--  <h4>Settled Time : {{MarketId.CreatedOn | date:'MMM d, y h:mm:ss a'}}</h4> -->
             </div>
             <div ng-hide="UserTYPEID==3">
                <div class="shadow-box clearfix bet_hist_flex">
                     <div class="col-sm-12 col-md-6">
                         <div class="green_panel">
                            <!-- ng-show="backopti" -->
                            <div class="gren-head">Plus Account <span class="nav-header" ng-show="backopti" ng-click="doTheBack(GTuserType, GTUseruserId, GTUserName)" style="float:right;">
                             <i class="glyphicon glyphicon-chevron-left"></i>Back</span>
                            </div>

                             <div class="gren_body">
                                 <table class="plus-minus-table">
                                     <thead>
                                        <tr>
                                             <th colspan="2" style="width: 27%;">Name</th>
                                             <th colspan="2">Account</th>
                                             <th style="text-align:right;">Chips</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                            <tr ng-repeat="userP in getPlusAc" class="bot_border">
                                                <td ui-sref-active="active" colspan="2">{{userP.mstruserid}}</td>
                                                <td colspan="2">
                                                    <div ng-if='(userP.msttype=="6" || userP.usetype=="3" || userP.ChildID==0)'>{{userP.mstrname}}</div>
                                                    <div ng-if='(userP.msttype!="6" && userP.usetype!="3" && userP.ChildID!=0)'>
                                                        <a href="" ng-click="GetPlus_Minus_Ac(userP.UserID,Marketdata.matchId,Marketdata.MarketId,Marketdata.fancyId,userP.mstruserid,userP.usetype)" >{{userP.mstrname}}</a>
                                                 </div>
                                                </td>
                                                <td style="text-align:right; font-size:13px;" ng-class="{'green':userP.PUsum>0,'red':userP.PUsum<0}"><strong> {{userP.PUsum | number:2}} </strong></td>
                                            </tr>
                                     </tbody>
                                     <tfoot>
                                         <tr class="plus_total">
                                             <td><strong>Total</strong></td>
                                             <td colspan="3"></td>                                         
                                             <td style="text-align:right;" ng-class="{'green':totalSumP>0,'red':totalSumP<0}"><strong>{{totalSumP| number:2}}</strong></td>
                                             <td></td>
                                             <td></td>
                                         </tr>
                                     </tfoot>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="col-sm-12 col-md-6">
                         <div class="pich_panel">
                             <div class="pich-head">Minus Account <span class="nav-header" ng-show="backopti" ng-click="doTheBack(GTuserType, GTUseruserId, GTUserName)" style="float:right;">
                             <i class="glyphicon glyphicon-chevron-left"></i>Back</span>
                            </div>
                             <div class="pich_body">
                                 <table class="plus-minus-table">
                                     <thead>
                                            <tr>
                                                <th style="width: 27%;">Name</th>
                                                <th>Account</th>
                                                <th style="text-align:right;">Chips</th>                                         
                                            </tr>
                                     </thead>
                                     <tbody>
                                        <tr ng-repeat="userM in getMiusAc" class="bot_border">
                                            <td ui-sref-active="active">{{userM.mstruserid}}</td>
                                            <td>
                                                <div ng-if='(userM.msttype=="6" || userM.usetype=="3"  || userM.ChildID==0)'>{{userM.mstrname}}</div>
                                                <div ng-if='(userM.msttype!="6" && userM.usetype!="3"  && userM.ChildID!=0)'>
                                                    <a href="" ng-click="GetPlus_Minus_Ac(userM.UserID,Marketdata.matchId,Marketdata.MarketId,Marketdata.fancyId,userM.mstruserid,userM.usetype)" >
                                                        {{userM.mstrname}}</a>
                                                </div>
                                            </td>
                                            <td  style="text-align:right;" class="red"><strong>{{userM.Musum | number:2}}</strong></td>
                                        </tr>
                                     </tbody>
                                     <tfoot>
                                         <tr class="minus_total">
                                             <td><strong>Total</strong></td>
                                             <td></td>
                                             <td style="text-align:right;" class="red"><strong> {{totalSumM | number:2}}</strong></td>
                                             <td></td>
                                             <td></td>
                                         </tr>
                                     </tfoot>
                                 </table>
                             </div>
                         </div>
                     </div>
                </div>
             </div>
         </div>

    </div>
    <div class="col-lg-12 col-md-12 lst_master">
        <div class="resp_table clearfix ">
            <div id="myGrid" class="ag-fresh" style="height: 450px; margin-top: 4px;"></div>
            <div class="total-box clearfix">
                <h1 ng-class="{'green':SumOfP_L>0,'red':SumOfP_L<0}">Total P&L: {{SumOfP_L | number:2}}</h1>
                <h1 ng-class="{'green':SumOfProfit>0,'red':SumOfProfit<0}">Total Profit: {{SumOfProfit | number:2}}</h1>
                
                <h1 ng-class="{'green':SumOfLiability>0,'red':SumOfLiability<0}">Total Liability: {{SumOfLiability | number:2}}</h1>
            </div>
        </div>
    </div>
</div>

