<div class=" master-cont">
           <!-- Kiran code -->
<div class="cric row">

     <div class="col-sm-12 col-md-12">
      <div class="cont_head">Soccer</div>
    </div>
</div>
<div class="row">
 <div class="col-sm-12 col-md-12">
 <ul class="sport-high">
              <li class="clearfix head-li">
                <div class="spor-rgt">
                  <ul class="odd-cat-head">
                    <li class="sec-mar-rgt">1</li>
                    <li class="sec-mar-rgt">x</li>
                    <li>2</li>
                  </ul>
                </div>
              </li>
              <li class="clearfix" ng-repeat="match in sportDetail" ng-show="od.status=='OPEN'">
                <div class="spor-lft">
                 
                  <a ui-sref="dashboard.{{getUrl(match.TypeID,'match.matchid','match.marketid',match.matchName,match.MstDate,match.SportId)}}" class="left-play">
                   {{match.matchName}} {{match.HeadName}}
                    <span  ng-class="{'mat-stat':(od.inplay && od.status=='OPEN')}"><img src="app/images/star.png"></span>
                   
                  </a>
                  <div class="right-play">
                  <span>{{match.MstDate | date : 'EEEE HH:mm'}}</span>
                    <span  ng-class="{'mat-stat':(od.inplay && od.status=='OPEN')}">{{od.status=='OPEN'?od.inplay?"In-Play":"Going In-Play":od.status}}</span>
                  </div>
                </div>
                <div class="spor-rgt" ng-if='od=(oddsDetail|filter:{"marketId":match.marketid})[0]' ng-show='od.status=="OPEN"'>
                  <ul class="odds-detail">
                    <li>
                      <a  class="cell back-cell">{{getOddCalcVal(od.runners[0].ex.availableToBack[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a class="cell lay-cell">{{getOddCalcVal(od.runners[0].ex.availableToLay[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell back-cell">{{getOddCalcVal(od.runners[2].ex.availableToBack[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell lay-cell">{{getOddCalcVal(od.runners[2].ex.availableToLay[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell back-cell">{{getOddCalcVal(od.runners[1].ex.availableToBack[0].price,match.oddsLimit)}}</a>
                    </li>
                    <li>
                      <a  class="cell lay-cell">{{getOddCalcVal(od.runners[1].ex.availableToLay[0].price,match.oddsLimit)}}</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>