<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2> {{btingcontent}} {{node.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="clearfix lock_box">
                <p>{{btingcontent}} {{node.name}}</p>
                <form name="userLock" method="post">
                    <input type="hidden" name="userId" id="userId" value="{{node.id}}" />
                    <input type="hidden" name="battinglockVal" id="battinglockVal" value="{{node.lgnusrlckbtng}}" />
                    <button type="submit" class="btn btn-primary" name="lock_user" ng-click="hide()">CANCEL</button>
                    <button type="submit" class="btn btn-primary focus" name="lock_user" ng-click="UpdateLockBatting(user)">OK</button>
                </form>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>